<html><head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Welcome</title>
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="../../../css/iframe/xglhc/xglhc_tmsb.css">
</head>
<body class="iframe-body skin_blue" style="display: block;">
<div class="main clearfix">
	<div class="content">
		<div class="sub-wrap clearfix">
			<!--cont-main-->
			<div class="cont-main">
			
			  <div id="subpage"> 
   <div class="cont-col3"> 
		<div class="u-header play_tab_1 clearfix"><div class="fl"><span id="page_game_name">香港六合彩</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span id="page_name">合肖</span> <span id="total_sum_money_text">
			&nbsp;&nbsp;
			当前彩种输赢：<span id="total_sum_money">0.000</span></span></div> <div class="fr"><span id="next_turn_num">2018024</span>&nbsp;期 距离封盘：
<span id="bet-date">07:29:44</span> 距离开奖：
<span id="open-date">07:34:44</span></div></div>
    	<div class="cont-col3-hd clearfix"> 
     <!-- 
        <div class="cont-col3-box1">
         	   投注类型：
            <a href="#" class="cur">快捷</a>
            <a href="#">一般</a>
        </div>
     --> 
     <div class="cont-col3-box2"> 
<!--       <label> <input type="checkbox" class="u-cb1" /> 预设 </label>  -->
      	金额 
      <input id="bet_money1" type="text" class="bet-money" disabled="disabled"> 
      <a href="javascript:parent.UserBet.openBetWindow()" id="openBetWinBtn1" class="u-btn1">确定</a> 
      <a href="javascript:parent.UserBet.resetData()" class="u-btn1">重置</a> 
     </div> 
    </div>  
    <div class="cont-col3-bd" id="hx_tab"> 
    	<div class="cont-col3-bd" id="bet_tab"> 
    		<table class="u-table2 play_tab_88"> 
		      <thead> 
		       <tr> 
		        <th width="50%">种类</th> 
		        <th>合肖</th> 
		       </tr> 
		      </thead> 
		      <tbody>
		      	 <tr> 
			        <td class="not-event">赔率</td> 
			        <td class="not-event"><span id="lhc_odds" class="c-txt3" start-play-id="708900" min-num="2" max-num="11">--</span></td>
			     </tr> 
		      </tbody>
		    </table>
    		<table class="u-table2 mt10" id="lhc_checkboxs"> 
		      <thead> 
		       <tr> 
		        <th>生肖</th> 
		        <th>号</th> 
		        <th>勾选</th> 
		         
		        <th>生肖</th> 
		        <th>号</th> 
		        <th>勾选</th> 
		       </tr> 
		      </thead> 
		      <tbody> 
		       <tr> 
		        <td class="name not-event">鼠</td> 
		        <td id="hx_shu" class="qiu not-event"><i class="lhc_icon lhc_b11 mr2">11</i><i class="lhc_icon lhc_b23 mr2">23</i><i class="lhc_icon lhc_b35 mr2">35</i><i class="lhc_icon lhc_b47 mr2">47</i></td> 
		        <td class="checkbox_td">
		        	<input type="checkbox" value="鼠" id="hx_shu_value">
		        </td>
		         
		        <td class="name not-event">马</td> 
		        <td id="hx_ma" class="qiu not-event"><i class="lhc_icon lhc_b05 mr2">05</i><i class="lhc_icon lhc_b17 mr2">17</i><i class="lhc_icon lhc_b29 mr2">29</i><i class="lhc_icon lhc_b41 mr2">41</i></td> 
		       	<td class="checkbox_td">
		        	<input type="checkbox" value="马" id="hx_ma_value">
		        </td>
		       </tr> 
		       <tr> 
		        <td class="name not-event">牛</td> 
		        <td id="hx_niu" class="qiu not-event"><i class="lhc_icon lhc_b10 mr2">10</i><i class="lhc_icon lhc_b22 mr2">22</i><i class="lhc_icon lhc_b34 mr2">34</i><i class="lhc_icon lhc_b46 mr2">46</i></td> 
		        <td class="checkbox_td">
		        	<input type="checkbox" value="牛" id="hx_niu_value">
		        </td>
		        
		        <td class="name not-event">羊</td> 
		        <td id="hx_yang" class="qiu not-event"><i class="lhc_icon lhc_b04 mr2">04</i><i class="lhc_icon lhc_b16 mr2">16</i><i class="lhc_icon lhc_b28 mr2">28</i><i class="lhc_icon lhc_b40 mr2">40</i></td> 
		       	<td class="checkbox_td">
		        	<input type="checkbox" value="羊" id="hx_yang_value">
		        </td>
		       </tr> 
		       <tr> 
		        <td class="name not-event">虎</td> 
		        <td id="hx_hu" class="qiu not-event"><i class="lhc_icon lhc_b09 mr2">09</i><i class="lhc_icon lhc_b21 mr2">21</i><i class="lhc_icon lhc_b33 mr2">33</i><i class="lhc_icon lhc_b45 mr2">45</i></td> 
		        <td class="checkbox_td">
		        	<input type="checkbox" value="虎" id="hx_hu_value">
		        </td> 
		        <td class="name not-event">猴</td> 
		        <td id="hx_hou" class="qiu not-event"><i class="lhc_icon lhc_b03 mr2">03</i><i class="lhc_icon lhc_b15 mr2">15</i><i class="lhc_icon lhc_b27 mr2">27</i><i class="lhc_icon lhc_b39 mr2">39</i></td> 
		       	<td class="checkbox_td">
		        	<input type="checkbox" value="猴" id="hx_hou_value">
		        </td>
		       </tr> 
		       <tr> 
		        <td class="name not-event">兔</td> 
		        <td id="hx_tu" class="qiu not-event"><i class="lhc_icon lhc_b08 mr2">08</i><i class="lhc_icon lhc_b20 mr2">20</i><i class="lhc_icon lhc_b32 mr2">32</i><i class="lhc_icon lhc_b44 mr2">44</i></td> 
		        <td class="checkbox_td">
		        	<input type="checkbox" value="兔" id="hx_tu_value">
		        </td> 
		        <td class="name not-event">鸡</td> 
		        <td id="hx_ji" class="qiu not-event"><i class="lhc_icon lhc_b02 mr2">02</i><i class="lhc_icon lhc_b14 mr2">14</i><i class="lhc_icon lhc_b26 mr2">26</i><i class="lhc_icon lhc_b38 mr2">38</i></td> 
		       	<td class="checkbox_td">
		        	<input type="checkbox" value="鸡" id="hx_ji_value">
		        </td> 
		       </tr> 
		       <tr> 
		        <td class="name not-event">龙</td> 
		        <td id="hx_long" class="qiu not-event"><i class="lhc_icon lhc_b07 mr2">07</i><i class="lhc_icon lhc_b19 mr2">19</i><i class="lhc_icon lhc_b31 mr2">31</i><i class="lhc_icon lhc_b43 mr2">43</i></td> 
		        <td class="checkbox_td">
		        	<input type="checkbox" value="龙" id="hx_long_value">
		        </td> 
		        <td class="name not-event">狗</td> 
		        <td id="hx_gou" class="qiu not-event"><i class="lhc_icon lhc_b01 mr2">01</i><i class="lhc_icon lhc_b13 mr2">13</i><i class="lhc_icon lhc_b25 mr2">25</i><i class="lhc_icon lhc_b37 mr2">37</i></td> 
		       	<td class="checkbox_td">
		        	<input type="checkbox" value="狗" id="hx_gou_value">
		        </td> 
		       </tr> 
		       <tr> 
		        <td class="name not-event">蛇</td> 
		        <td id="hx_she" class="qiu not-event"><i class="lhc_icon lhc_b06 mr2">06</i><i class="lhc_icon lhc_b18 mr2">18</i><i class="lhc_icon lhc_b30 mr2">30</i><i class="lhc_icon lhc_b42 mr2">42</i></td> 
		        <td class="checkbox_td">
		        	<input type="checkbox" value="蛇" id="hx_she_value">
		        </td> 
		        <td class="name not-event">猪</td> 
		        <td id="hx_zhu" class="qiu not-event"><i class="lhc_icon lhc_b12 mr2">12</i><i class="lhc_icon lhc_b24 mr2">24</i><i class="lhc_icon lhc_b36 mr2">36</i><i class="lhc_icon lhc_b48 mr2">48</i></td> 
		       	<td class="checkbox_td">
		        	<input type="checkbox" value="猪" id="hx_zhu_value">
		        </td>
		       </tr> 
		      </tbody> 
		     </table> 
    	</div>
    	<div class="cont-col3-hd clearfix" style="margin-top: 20px"> 
     <!-- 
        <div class="cont-col3-box1">
         	   投注类型：
            <a href="#" class="cur">快捷</a>
            <a href="#">一般</a>
        </div>
     --> 
     <div class="cont-col3-box2"> 
<!--       <label> <input type="checkbox" class="u-cb1" /> 预设 </label>  -->
      	金额 
      <input id="bet_money2" type="text" class="bet-money" disabled="disabled"> 
      <a href="javascript:parent.UserBet.openBetWindow()" id="openBetWinBtn2" class="u-btn1">确定</a> 
      <a href="javascript:parent.UserBet.resetData()" class="u-btn1">重置</a> 
     </div> 
    </div> 
    </div>
   </div>
</div>
					    

			</div>
			<!--/cont-main-->
			
			<div id="right_page" class="cont-sider">
	<div class="sider-box1 mt5" id="stat_play_ctn">
		<table class="u-table2">
			<thead> 
	         <tr> 
	          <th id="stat_play_list_desc">长龙排行榜</th> 
	         </tr> 
	        </thead> 
		</table>
		<table class="u-table5">
			<tbody id="stat_play_list"><tr><td colspan="2" style="text-align: center">暂无排行榜数据</td></tr></tbody>
		</table>
	</div>
	<div id="kjtz-ctn" class="mt5 hide">
	<table class="u-table2 play_tab_85">
		<thead>
			<tr>
				<th colspan="3">快捷投注</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'DANMA_PLAYIDS')"><span>单码</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'XIAODAN_PLAYIDS')"><span>小单</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'HEDAN_PLAYIDS')"><span>合单</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'SHUANMA_PLAYIDS')"><span>双码</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'XIAOSHUAN_PLAYIDS')"><span>小双</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'HESHUAN_PLAYIDS')"><span>合双</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'DAMA_PLAYIDS')"><span>大码</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'DADAN_PLAYIDS')"><span>大单</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'HEDA_PLAYIDS')"><span>合大</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'XIAOMA_PLAYIDS')"><span>小码</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'DASHUAN_PLAYIDS')"><span>大双</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'HEXIAO_PLAYIDS')"><span>合小</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'LINTOU_PLAYIDS')"><span>0头</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LINWEI_PLAYIDS')"><span>0尾</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'WUWEI_PLAYIDS')"><span>5尾</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'YITOU_PLAYIDS')"><span>1头</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'YIWEI_PLAYIDS')"><span>1尾</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LIUWEI_PLAYIDS')"><span>6尾</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'ERTOU_PLAYIDS')"><span>2头</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'ERWEI_PLAYIDS')"><span>2尾</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'QIWEI_PLAYIDS')"><span>7尾</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'SANTOU_PLAYIDS')"><span>3头</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'SANWEI_PLAYIDS')"><span>3尾</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'BAWEI_PLAYIDS')"><span>8尾</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'SITOU_PLAYIDS')"><span>4头</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'SIWEI_PLAYIDS')"><span>4尾</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'JIU_PLAYIDS')"><span>9尾</span></td>
			</tr>
			<tr>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'鼠')"><span>鼠</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'龙')"><span>龙</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'猴')"><span>猴</span></td>
			</tr>
			<tr>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'牛')"><span>牛</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'蛇')"><span>蛇</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'鸡')"><span>鸡</span></td>
			</tr>
			<tr>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'虎')"><span>虎</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'马')"><span>马</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'狗')"><span>狗</span></td>
			</tr>
			<tr>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'兔')"><span>兔</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'羊')"><span>羊</span></td>
				<td class="sx_btns" onclick="LHC_KJTZ.sxtz(this,'猪')"><span>猪</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'HONG')"><span>红</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LAN')"><span>蓝</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LV')"><span>绿</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'HONE_DAN')"><span>红单</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LAN_DAN')"><span>蓝单</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LV_DAN')"><span>绿单</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'HONE_SHUAN')"><span>红双</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LAN_SHUAN')"><span>蓝双</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LV_SHUAN')"><span>绿双</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'HONE_DA')"><span>红大</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LAN_DA')"><span>蓝大</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LV_DA')"><span>绿大</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'HONE_XIAO')"><span>红小</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LAN_XIAO')"><span>蓝小</span></td>
				<td onclick="LHC_KJTZ.kjtz(this,'LV_XIAO')"><span>绿小</span></td>
			</tr>
			<tr>
				<td onclick="LHC_KJTZ.kjtz(this,'QUANGXUAN')"><span>全选</span></td>
				<td onclick="LHC_KJTZ.reverseSel(this,'QUANGXUAN')"><span>反选</span></td>
				<td onclick="LHC_KJTZ.cancelAll(this)"><span>取消</span></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
		</div>
	</div>
</div>
<script src="../../../js/iframe.js"></script>
</body></html>