<html><head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Welcome</title>
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="../../../css/iframe/bkpk10/bjpk10_lmp.css">
</head>
<body class="iframe-body skin_blue" style="display: block;">
<!--main-->
<div class="main clearfix">
	<div class="content">
		<div class="sub-wrap clearfix">
			<!--cont-main-->
			<div class="cont-main">
					    <div id="subpage">
						   <div class="cont-col3"> 
								<div class="u-header play_tab_1 clearfix"><div class="fl"><span id="page_game_name">秒速赛车</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span id="page_name">两面盘</span> <span id="total_sum_money_text">
									&nbsp;&nbsp;
									当前彩种输赢：<span id="total_sum_money">0.000</span></span></div> <div class="fr"><span id="next_turn_num">180308331</span>&nbsp;期 距离封盘：
	<span id="bet-date">00:11</span> 距离开奖：
	<span id="open-date">00:26</span></div></div>
						    	<div class="cont-col3-hd clearfix"> 
     <!-- 
        <div class="cont-col3-box1">
         	   投注类型：
            <a href="#" class="cur">快捷</a>
            <a href="#">一般</a>
        </div>
     --> 
     <div class="cont-col3-box2"> 
<!--       <label> <input type="checkbox" class="u-cb1" /> 预设 </label>  -->
      	金额 
      <input id="bet_money1" type="text" class="bet-money"> 
      <a href="javascript:parent.UserBet.openBetWindow()" id="openBetWinBtn1" class="u-btn1">确定</a> 
      <a href="javascript:parent.UserBet.resetData()" class="u-btn1">重置</a> 
     </div> 
    </div> 
						    <div class="cont-col3-bd" id="bet_tab"> 
						     <table class="u-table2 play_tab_10"> 
						      <thead> 
						       <tr> 
						        <th colspan="12">冠、亚军和</th> 
						       </tr> 
						      </thead> 
						      <tbody> 
						       <tr> 
						        <td id="play_name_7101666" class="name">冠亚大</td> 
						        <td id="play_odds_7101666" class="odds"><span class="c-txt3">2.19</span></td> 
						        <td id="play_text_7101666" name="play_7101666" class="amount"><input type="text"></td> 
						        
						        <td id="play_name_7101667" class="name">冠亚小</td> 
						        <td id="play_odds_7101667" class="odds"><span class="c-txt3">1.79</span></td> 
						        <td id="play_text_7101667" name="play_7101667" class="amount"><input type="text"></td>
						         
						        <td id="play_name_7101668" class="name">冠亚单</td> 
						        <td id="play_odds_7101668" class="odds"><span class="c-txt3">1.79</span></td> 
						        <td id="play_text_7101668" name="play_7101668" class="amount"><input type="text"></td>
						         
						        <td id="play_name_7101669" class="name">冠亚双</td> 
						        <td id="play_odds_7101669" class="odds"><span class="c-txt3">2.19</span></td> 
						        <td id="play_text_7101669" name="play_7101669" class="amount"><input type="text"></td> 
						       </tr> 
						      </tbody> 
						     </table> 
						     
						     <table class="cont-list1">
						     	<tbody><tr>
						     		<td>
								     <table class="u-table2 play_tab_11"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">冠军</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101687" class="name">大</td> 
								          <td id="play_odds_7101687" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101687" name="play_7101687" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101688" class="name">小</td> 
								          <td id="play_odds_7101688" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101688" name="play_7101688" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101689" class="name">单</td> 
								          <td id="play_odds_7101689" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101689" name="play_7101689" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101690" class="name">双</td> 
								          <td id="play_odds_7101690" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101690" name="play_7101690" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101691" class="name">龙</td> 
								          <td id="play_odds_7101691" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101691" name="play_7101691" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101692" class="name">虎</td> 
								          <td id="play_odds_7101692" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101692" name="play_7101692" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody> 
								       </table>
						     		</td>
						     		<td>
								     <table class="u-table2 play_tab_12"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">亚军</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101703" class="name">大</td> 
								          <td id="play_odds_7101703" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101703" name="play_7101703" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101704" class="name">小</td> 
								          <td id="play_odds_7101704" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101704" name="play_7101704" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101705" class="name">单</td> 
								          <td id="play_odds_7101705" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101705" name="play_7101705" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101706" class="name">双</td> 
								          <td id="play_odds_7101706" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101706" name="play_7101706" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101707" class="name">龙</td> 
								          <td id="play_odds_7101707" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101707" name="play_7101707" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101708" class="name">虎</td> 
								          <td id="play_odds_7101708" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101708" name="play_7101708" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody> 
								       </table>
						     		</td>
						     		<td>
								     <table class="u-table2 play_tab_13"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第三名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101719" class="name">大</td> 
								          <td id="play_odds_7101719" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101719" name="play_7101719" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101720" class="name">小</td> 
								          <td id="play_odds_7101720" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101720" name="play_7101720" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101721" class="name">单</td> 
								          <td id="play_odds_7101721" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101721" name="play_7101721" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101722" class="name">双</td> 
								          <td id="play_odds_7101722" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101722" name="play_7101722" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101723" class="name">龙</td> 
								          <td id="play_odds_7101723" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101723" name="play_7101723" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101724" class="name">虎</td> 
								          <td id="play_odds_7101724" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101724" name="play_7101724" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody>
								       </table>
						     		</td>
						     		<td>
								     <table class="u-table2 play_tab_14"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第四名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101735" class="name">大</td> 
								          <td id="play_odds_7101735" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101735" name="play_7101735" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101736" class="name">小</td> 
								          <td id="play_odds_7101736" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101736" name="play_7101736" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101737" class="name">单</td> 
								          <td id="play_odds_7101737" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101737" name="play_7101737" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101738" class="name">双</td> 
								          <td id="play_odds_7101738" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101738" name="play_7101738" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101739" class="name">龙</td> 
								          <td id="play_odds_7101739" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101739" name="play_7101739" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101740" class="name">虎</td> 
								          <td id="play_odds_7101740" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101740" name="play_7101740" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody>
								       </table>
						     		</td>
						     		<td>
								     <table class="u-table2 play_tab_15"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第五名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101751" class="name">大</td> 
								          <td id="play_odds_7101751" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101751" name="play_7101751" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101752" class="name">小</td> 
								          <td id="play_odds_7101752" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101752" name="play_7101752" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101753" class="name">单</td> 
								          <td id="play_odds_7101753" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101753" name="play_7101753" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101754" class="name">双</td> 
								          <td id="play_odds_7101754" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101754" name="play_7101754" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101755" class="name">龙</td> 
								          <td id="play_odds_7101755" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101755" name="play_7101755" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101756" class="name">虎</td> 
								          <td id="play_odds_7101756" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101756" name="play_7101756" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody> 
								       </table>
						     		</td>
						     	</tr>
						     </tbody></table>
						     
						     <table class="cont-list1">
						     	<tbody><tr>
						     		<td>
						     			<table class="u-table2 play_tab_16"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第六名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101767" class="name">大</td> 
								          <td id="play_odds_7101767" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101767" name="play_7101767" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101768" class="name">小</td> 
								          <td id="play_odds_7101768" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101768" name="play_7101768" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101769" class="name">单</td> 
								          <td id="play_odds_7101769" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101769" name="play_7101769" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101770" class="name">双</td> 
								          <td id="play_odds_7101770" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101770" name="play_7101770" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody> 
								       </table>
						     		</td>
						     		
						     		<td>
						     			<table class="u-table2 play_tab_17"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第七名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101781" class="name">大</td> 
								          <td id="play_odds_7101781" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101781" name="play_7101781" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101782" class="name">小</td> 
								          <td id="play_odds_7101782" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101782" name="play_7101782" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101783" class="name">单</td> 
								          <td id="play_odds_7101783" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101783" name="play_7101783" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101784" class="name">双</td> 
								          <td id="play_odds_7101784" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101784" name="play_7101784" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody> 
								       </table>
						     		</td>
						     		
						     		<td>
						     			<table class="u-table2 play_tab_18"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第八名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101795" class="name">大</td> 
								          <td id="play_odds_7101795" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101795" name="play_7101795" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101796" class="name">小</td> 
								          <td id="play_odds_7101796" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101796" name="play_7101796" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101797" class="name">单</td> 
								          <td id="play_odds_7101797" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101797" name="play_7101797" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101798" class="name">双</td> 
								          <td id="play_odds_7101798" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101798" name="play_7101798" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody>
								       </table>
						     		</td>
						     		
						     		<td>
						     			<table class="u-table2 play_tab_19"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第九名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101809" class="name">大</td> 
								          <td id="play_odds_7101809" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101809" name="play_7101809" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101810" class="name">小</td> 
								          <td id="play_odds_7101810" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101810" name="play_7101810" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101811" class="name">单</td> 
								          <td id="play_odds_7101811" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101811" name="play_7101811" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101812" class="name">双</td> 
								          <td id="play_odds_7101812" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101812" name="play_7101812" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody>
								       </table>
						     		</td>
						     		
						     		<td>
						     			<table class="u-table2 play_tab_20"> 
								        <thead> 
								         <tr> 
								          <th colspan="3">第十名</th> 
								         </tr> 
								        </thead> 
								        <tbody> 
								         <tr> 
								          <td id="play_name_7101823" class="name">大</td> 
								          <td id="play_odds_7101823" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101823" name="play_7101823" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101824" class="name">小</td> 
								          <td id="play_odds_7101824" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101824" name="play_7101824" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101825" class="name">单</td> 
								          <td id="play_odds_7101825" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101825" name="play_7101825" class="amount"><input type="text"></td>
								         </tr> 
								         <tr> 
								          <td id="play_name_7101826" class="name">双</td> 
								          <td id="play_odds_7101826" class="odds"><span class="c-txt3">1.996</span></td> 
								          <td id="play_text_7101826" name="play_7101826" class="amount"><input type="text"></td>
								         </tr> 
								        </tbody> 
								       </table>
						     		</td>
						     	</tr>
						     </tbody></table>
						     
						     <div class="cont-col3-hd clearfix" style="margin-top: 20px"> 
     <!-- 
        <div class="cont-col3-box1">
         	   投注类型：
            <a href="#" class="cur">快捷</a>
            <a href="#">一般</a>
        </div>
     --> 
     <div class="cont-col3-box2"> 
<!--       <label> <input type="checkbox" class="u-cb1" /> 预设 </label>  -->
      	金额 
      <input id="bet_money2" type="text" class="bet-money"> 
      <a href="javascript:parent.UserBet.openBetWindow()" id="openBetWinBtn2" class="u-btn1">确定</a> 
      <a href="javascript:parent.UserBet.resetData()" class="u-btn1">重置</a> 
     </div> 
    </div> 
						     
						    </div> 
						   </div> 
						  </div>

					 <div id="game_count"> 
						 <div class="count-wrap">
					   <table class="u-table2" id="stat_qiu">
                           <thead>
                               <tr>
                                   <th class="u-tb3-th2 select" id="qiu1_th" onclick="StatGame.showStat(1)" qiu="1">冠军</th>
                                   <th class="u-tb3-th2" id="qiu2_th" onclick="StatGame.showStat(2)" qiu="2">亚军</th>
                                   <th class="u-tb3-th2" id="qiu3_th" onclick="StatGame.showStat(3)" qiu="3">第三名</th>
                                   <th class="u-tb3-th2" id="qiu4_th" onclick="StatGame.showStat(4)" qiu="4">第四名</th>
                                   <th class="u-tb3-th2" id="qiu5_th" onclick="StatGame.showStat(5)" qiu="5">第五名</th>
                                   <th class="u-tb3-th2" id="qiu6_th" onclick="StatGame.showStat(6)" qiu="6">第六名</th>
                                   <th class="u-tb3-th2" id="qiu7_th" onclick="StatGame.showStat(7)" qiu="7">第七名</th>
                                   <th class="u-tb3-th2" id="qiu8_th" onclick="StatGame.showStat(8)" qiu="8">第八名</th>
                                   <th class="u-tb3-th2" id="qiu9_th" onclick="StatGame.showStat(9)" qiu="9">第九名</th>
                                   <th class="u-tb3-th2" id="qiu10_th" onclick="StatGame.showStat(10)" qiu="10">第十名</th>
                               </tr>
                           </thead>
                       </table>
                       <table class="u-table4">
                           <tbody>
                               <tr>
                                   <td class="f1 fwb">1</td>
                                   <td class="f1 fwb">2</td>
                                   <td class="f1 fwb">3</td>
                                   <td class="f1 fwb">4</td>
                                   <td class="f1 fwb">5</td>
                                   <td class="f1 fwb">6</td>
                                   <td class="f1 fwb">7</td>
                                   <td class="f1 fwb">8</td>
                                   <td class="f1 fwb">9</td>
                                   <td class="f1 fwb">10</td>
                               </tr>
                                <tr id="qiu1_body">
                                   <td id="q1_1_time">17</td>
                                   <td id="q1_2_time">23</td>
                                   <td id="q1_3_time">20</td>
                                   <td id="q1_4_time">12</td>
                                   <td id="q1_5_time">24</td>
                                   <td id="q1_6_time">26</td>
                                   <td id="q1_7_time">18</td>
                                   <td id="q1_8_time">19</td>
                                   <td id="q1_9_time">20</td>
                                   <td id="q1_10_time">21</td>
                               </tr>
                               <tr id="qiu2_body" class="hide">
                                   <td id="q2_1_time">18</td>
                                   <td id="q2_2_time">15</td>
                                   <td id="q2_3_time">26</td>
                                   <td id="q2_4_time">22</td>
                                   <td id="q2_5_time">18</td>
                                   <td id="q2_6_time">19</td>
                                   <td id="q2_7_time">24</td>
                                   <td id="q2_8_time">21</td>
                                   <td id="q2_9_time">16</td>
                                   <td id="q2_10_time">21</td>
                               </tr>
                               <tr id="qiu3_body" class="hide">
                                   <td id="q3_1_time">25</td>
                                   <td id="q3_2_time">28</td>
                                   <td id="q3_3_time">22</td>
                                   <td id="q3_4_time">19</td>
                                   <td id="q3_5_time">16</td>
                                   <td id="q3_6_time">18</td>
                                   <td id="q3_7_time">14</td>
                                   <td id="q3_8_time">22</td>
                                   <td id="q3_9_time">17</td>
                                   <td id="q3_10_time">19</td>
                               </tr>
                               <tr id="qiu4_body" class="hide">
                                   <td id="q4_1_time">14</td>
                                   <td id="q4_2_time">28</td>
                                   <td id="q4_3_time">24</td>
                                   <td id="q4_4_time">17</td>
                                   <td id="q4_5_time">18</td>
                                   <td id="q4_6_time">23</td>
                                   <td id="q4_7_time">20</td>
                                   <td id="q4_8_time">20</td>
                                   <td id="q4_9_time">20</td>
                                   <td id="q4_10_time">16</td>
                               </tr>
                               <tr id="qiu5_body" class="hide">
                                   <td id="q5_1_time">25</td>
                                   <td id="q5_2_time">18</td>
                                   <td id="q5_3_time">13</td>
                                   <td id="q5_4_time">17</td>
                                   <td id="q5_5_time">19</td>
                                   <td id="q5_6_time">27</td>
                                   <td id="q5_7_time">24</td>
                                   <td id="q5_8_time">17</td>
                                   <td id="q5_9_time">21</td>
                                   <td id="q5_10_time">19</td>
                               </tr>
                               <tr id="qiu6_body" class="hide">
                                   <td id="q6_1_time">25</td>
                                   <td id="q6_2_time">16</td>
                                   <td id="q6_3_time">26</td>
                                   <td id="q6_4_time">24</td>
                                   <td id="q6_5_time">18</td>
                                   <td id="q6_6_time">15</td>
                                   <td id="q6_7_time">17</td>
                                   <td id="q6_8_time">15</td>
                                   <td id="q6_9_time">27</td>
                                   <td id="q6_10_time">17</td>
                               </tr>
                               <tr id="qiu7_body" class="hide">
                                   <td id="q7_1_time">19</td>
                                   <td id="q7_2_time">19</td>
                                   <td id="q7_3_time">18</td>
                                   <td id="q7_4_time">24</td>
                                   <td id="q7_5_time">22</td>
                                   <td id="q7_6_time">17</td>
                                   <td id="q7_7_time">22</td>
                                   <td id="q7_8_time">19</td>
                                   <td id="q7_9_time">16</td>
                                   <td id="q7_10_time">24</td>
                               </tr>
                               <tr id="qiu8_body" class="hide">
                                   <td id="q8_1_time">20</td>
                                   <td id="q8_2_time">17</td>
                                   <td id="q8_3_time">14</td>
                                   <td id="q8_4_time">21</td>
                                   <td id="q8_5_time">21</td>
                                   <td id="q8_6_time">18</td>
                                   <td id="q8_7_time">18</td>
                                   <td id="q8_8_time">28</td>
                                   <td id="q8_9_time">21</td>
                                   <td id="q8_10_time">22</td>
                               </tr>
                               <tr id="qiu9_body" class="hide">
                                   <td id="q9_1_time">16</td>
                                   <td id="q9_2_time">21</td>
                                   <td id="q9_3_time">17</td>
                                   <td id="q9_4_time">23</td>
                                   <td id="q9_5_time">21</td>
                                   <td id="q9_6_time">20</td>
                                   <td id="q9_7_time">21</td>
                                   <td id="q9_8_time">22</td>
                                   <td id="q9_9_time">17</td>
                                   <td id="q9_10_time">22</td>
                               </tr>
                               <tr id="qiu10_body" class="hide">
                                   <td id="q10_1_time">21</td>
                                   <td id="q10_2_time">15</td>
                                   <td id="q10_3_time">20</td>
                                   <td id="q10_4_time">21</td>
                                   <td id="q10_5_time">23</td>
                                   <td id="q10_6_time">17</td>
                                   <td id="q10_7_time">22</td>
                                   <td id="q10_8_time">17</td>
                                   <td id="q10_9_time">25</td>
                                   <td id="q10_10_time">19</td>
                               </tr>
                           </tbody>
                       </table>
                       
                      <table class="u-table2 mt5">
                           <thead>
                               <tr id="stat_type">
                                   <th class="u-tb3-th2 select" id="stat_nums_btn" type="nums" onclick="StatGame.showStatType(this)">第一球</th>
                                   <th class="u-tb3-th2" id="stat_size_btn" type="size" onclick="StatGame.showStatType(this)">大小</th>
                                   <th class="u-tb3-th2" id="stat_firsts_btn" type="firsts" onclick="StatGame.showStatType(this)">单双</th>
                                   <th class="u-tb3-th2" id="stat_gyh_btn" type="gyh" onclick="StatGame.showStatType(this)">冠、亚军和</th>
                                   <th class="u-tb3-th2" id="stat_gyhdx_btn" type="gyhdx" onclick="StatGame.showStatType(this)">冠、亚军和 大小</th>
                                   <th class="u-tb3-th2" id="stat_gyhds_btn" type="gyhds" onclick="StatGame.showStatType(this)">冠、亚军和 单双</th>
                               </tr>
                           </thead>
                       </table>
                       <table class="u-table4 table-td-valign-top">
                           <tbody>
                               <tr id="qiu1_nums" class="stattd "><td>2</td><td>6</td><td>2</td><td>5<br>5</td><td>4</td><td>1</td><td>7</td><td>2</td><td>9</td><td>3</td><td>1</td><td>10</td><td>7</td><td>3</td><td>8</td><td>2</td><td>1</td><td>2</td><td>1</td><td>10</td><td>3</td><td>4</td><td>3</td><td>10</td><td>8</td></tr>
                               <tr id="qiu2_nums" class="stattd hide"><td>9</td><td>3</td><td>7</td><td>6</td><td>10</td><td>3</td><td>10<br>10</td><td>5</td><td>3</td><td>10</td><td>8</td><td>1</td><td>5</td><td>10<br>10</td><td>3<br>3</td><td>8</td><td>4</td><td>9</td><td>10</td><td>3</td><td>5</td><td>9</td><td>4</td><td>6</td><td>9</td></tr>
                               <tr id="qiu3_nums" class="stattd hide"><td>4</td><td>7</td><td>10</td><td>4<br>4</td><td>2<br>2</td><td>9</td><td>3</td><td>10</td><td>4</td><td>5</td><td>2</td><td>3</td><td>2</td><td>4</td><td>10</td><td>7</td><td>1</td><td>8</td><td>2</td><td>8<br>8</td><td>1</td><td>3</td><td>9</td><td>7</td><td>6</td></tr>
                               <tr id="qiu4_nums" class="stattd hide"><td>7</td><td>8</td><td>1</td><td>8<br>8<br>8</td><td>9</td><td>3</td><td>10</td><td>5</td><td>1</td><td>6</td><td>4</td><td>9</td><td>5</td><td>6</td><td>4</td><td>6</td><td>3</td><td>2</td><td>6<br>6</td><td>7</td><td>8</td><td>4</td><td>7</td><td>4</td><td>7</td></tr>
                               <tr id="qiu5_nums" class="stattd hide"><td>1</td><td>10</td><td>5</td><td>9<br>9</td><td>10</td><td>6</td><td>8</td><td>1</td><td>8</td><td>5</td><td>10</td><td>8</td><td>10</td><td>1</td><td>9</td><td>6</td><td>5</td><td>6</td><td>9</td><td>3</td><td>1</td><td>6</td><td>7</td><td>2</td><td>3</td></tr>
                               <tr id="qiu6_nums" class="stattd hide"><td>5</td><td>4<br>4</td><td>3</td><td>1</td><td>7</td><td>3</td><td>6</td><td>7</td><td>4</td><td>9</td><td>3<br>3</td><td>6<br>6</td><td>2</td><td>9</td><td>10</td><td>5</td><td>10</td><td>1</td><td>5</td><td>2</td><td>4</td><td>1</td><td>6</td><td>1</td><td>3</td></tr>
                               <tr id="qiu7_nums" class="stattd hide"><td>10</td><td>2</td><td>6</td><td>10</td><td>7</td><td>6</td><td>5<br>5</td><td>4</td><td>2<br>2</td><td>7<br>7</td><td>2</td><td>4</td><td>3</td><td>7</td><td>2</td><td>9</td><td>5</td><td>4</td><td>7</td><td>10</td><td>9</td><td>6</td><td>5</td><td>3</td><td>4</td></tr>
                               <tr id="qiu8_nums" class="stattd hide"><td>8</td><td>5</td><td>9</td><td>1</td><td>2</td><td>5</td><td>7</td><td>1</td><td>6</td><td>1</td><td>7</td><td>9</td><td>6</td><td>4</td><td>7</td><td>5</td><td>1</td><td>8</td><td>7</td><td>6</td><td>8</td><td>4</td><td>1</td><td>10</td><td>8</td></tr>
                               <tr id="qiu9_nums" class="stattd hide"><td>6</td><td>1</td><td>8</td><td>2</td><td>3</td><td>1</td><td>4<br>4</td><td>8</td><td>6</td><td>8</td><td>4</td><td>5</td><td>1</td><td>8</td><td>1</td><td>8</td><td>9</td><td>10</td><td>3</td><td>5</td><td>2</td><td>9</td><td>2</td><td>5</td><td>10</td></tr>
                               <tr id="qiu10_nums" class="stattd hide"><td>3</td><td>9</td><td>3</td><td>7</td><td>6</td><td>9</td><td>8</td><td>2</td><td>9</td><td>7</td><td>6</td><td>2</td><td>9</td><td>8</td><td>9</td><td>7</td><td>5</td><td>4<br>4</td><td>7<br>7</td><td>9</td><td>5</td><td>6</td><td>7</td><td>1</td><td>2</td></tr>
                           </tbody>
                       </table>
                  </div>

					</div> 
			</div>
			<!--/cont-main-->
			
			<div id="right_page" class="cont-sider">
	<div class="sider-box1 mt5" id="stat_play_ctn">
		<table class="u-table2">
			<thead> 
	         <tr> 
	          <th id="stat_play_list_desc">长龙排行榜</th> 
	         </tr> 
	        </thead> 
		</table>
		<table class="u-table5">
			<tbody id="stat_play_list"><tr class="u-tb5-tr1"><th>冠、亚军和 -   冠亚单</th><td class="statFont">9期</td></tr><tr class="u-tb5-tr2"><th>冠军 -   虎</th><td class="statFont">7期</td></tr><tr class="u-tb5-tr1"><th>第六名 -   小</th><td class="statFont">5期</td></tr><tr class="u-tb5-tr2"><th>冠、亚军和 -   冠亚小</th><td class="statFont">4期</td></tr><tr class="u-tb5-tr1"><th>第七名 -   双</th><td class="statFont">4期</td></tr><tr class="u-tb5-tr2"><th>第十名 -   单</th><td class="statFont">4期</td></tr><tr class="u-tb5-tr1"><th>冠军 -   双</th><td class="statFont">3期</td></tr><tr class="u-tb5-tr2"><th>亚军 -   单</th><td class="statFont">3期</td></tr></tbody>
		</table>
	</div>
</div>
		</div>
	</div>
	<!--/content-->
</div>
<!--/main-->
<script src="../../../js/iframe.js"></script>
</body></html>