<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Welcome</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../../css/iframe/kjjl/kjjl.css">
</head>
<body class="iframe-body skin_blue" style="display: block;">
  <div id="subpage" class="cp-box2" style="width: 900px">
    <div style="padding: 5px 0px;">
      <select id="historyQueryParamGameId">
        <option value="50">北京赛车(PK10)</option>
        <option value="157">极速赛车(PK10)</option>
        <option value="1">重庆时时彩</option>
        <option value="158">极速时时彩</option>
        <option value="70">香港六合彩</option>
        <option value="159">极速六合彩</option>
        <option value="169">极速飞艇</option>
        <option value="10">江苏骰宝(快3)</option>
        <option value="171">极速骰宝(快3)</option>
        <option value="66">PC蛋蛋</option>
        <option value="61">重庆幸运农场</option>
        <option value="65">北京快乐8</option>
        <option value="60">广东快乐十分</option>
        <option value="165">广西快3</option>
        <option value="168">新疆时时彩</option>
        <option value="21">广东11选5</option>
        <option value="160">北京11选5</option>
        <option value="161">广西11选5</option>
        <option value="162">吉林11选5</option>
      </select>
      日期：
      <input id="historyQueryParamOpenTime" onclick="WdatePicker({onpicking:function(dp){History.getHistoryData(66,dp.cal.getNewDateStr(),0)}})"
        onchange="">
    </div>
    <table class="u-table2 play_tab_10" id="history_table">
      <thead>
        <tr>
          <th style="width: 100px">期数</th>
          <th style="width: 100px">开奖时间</th>
          <th colspan="3">开出号码</th>
          <th>总和</th>
          <th>大小</th>
          <th>单双</th>
          <th>极值</th>
          <th>色波</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>874789</td>
          <td>2018-03-02 17:25:05</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874788</td>
          <td>2018-03-02 17:20:11</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874787</td>
          <td>2018-03-02 17:15:11</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874786</td>
          <td>2018-03-02 17:10:11</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>8</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874785</td>
          <td>2018-03-02 17:05:10</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>6</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874784</td>
          <td>2018-03-02 17:00:13</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874783</td>
          <td>2018-03-02 16:55:05</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874782</td>
          <td>2018-03-02 16:50:13</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874781</td>
          <td>2018-03-02 16:45:13</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>17</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874780</td>
          <td>2018-03-02 16:40:13</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>7</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874779</td>
          <td>2018-03-02 16:35:13</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874778</td>
          <td>2018-03-02 16:30:18</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>22</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874777</td>
          <td>2018-03-02 16:25:09</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>19</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874776</td>
          <td>2018-03-02 16:20:18</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874775</td>
          <td>2018-03-02 16:15:12</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874774</td>
          <td>2018-03-02 16:10:12</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874773</td>
          <td>2018-03-02 16:05:06</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874772</td>
          <td>2018-03-02 16:00:12</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>21</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874771</td>
          <td>2018-03-02 15:55:14</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874770</td>
          <td>2018-03-02 15:50:20</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874769</td>
          <td>2018-03-02 15:45:11</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874768</td>
          <td>2018-03-02 15:40:11</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>19</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874767</td>
          <td>2018-03-02 15:35:14</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874766</td>
          <td>2018-03-02 15:30:14</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874765</td>
          <td>2018-03-02 15:25:05</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874764</td>
          <td>2018-03-02 15:20:13</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874763</td>
          <td>2018-03-02 15:15:05</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874762</td>
          <td>2018-03-02 15:10:13</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874761</td>
          <td>2018-03-02 15:05:12</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874760</td>
          <td>2018-03-02 15:00:12</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874759</td>
          <td>2018-03-02 14:55:09</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874758</td>
          <td>2018-03-02 14:50:15</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874757</td>
          <td>2018-03-02 14:45:06</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874756</td>
          <td>2018-03-02 14:40:11</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874755</td>
          <td>2018-03-02 14:35:11</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874754</td>
          <td>2018-03-02 14:30:11</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874753</td>
          <td>2018-03-02 14:25:05</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874752</td>
          <td>2018-03-02 14:20:09</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874751</td>
          <td>2018-03-02 14:15:12</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>6</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874750</td>
          <td>2018-03-02 14:10:18</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874749</td>
          <td>2018-03-02 14:05:09</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>4</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>
            <span class="font_blue">极小</span>
          </td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874748</td>
          <td>2018-03-02 14:00:12</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>3</td>
          <td>小</td>
          <td>单</td>
          <td>
            <span class="font_blue">极小</span>
          </td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874747</td>
          <td>2018-03-02 13:55:12</td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>7</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874746</td>
          <td>2018-03-02 13:50:15</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874745</td>
          <td>2018-03-02 13:45:12</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>5</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874744</td>
          <td>2018-03-02 13:40:14</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>9</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874743</td>
          <td>2018-03-02 13:35:06</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874742</td>
          <td>2018-03-02 13:30:17</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>4</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>
            <span class="font_blue">极小</span>
          </td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874741</td>
          <td>2018-03-02 13:25:11</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874740</td>
          <td>2018-03-02 13:20:20</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874739</td>
          <td>2018-03-02 13:15:07</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>8</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874738</td>
          <td>2018-03-02 13:10:21</td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>7</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874737</td>
          <td>2018-03-02 13:05:05</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>2</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>
            <span class="font_blue">极小</span>
          </td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874736</td>
          <td>2018-03-02 13:00:26</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874735</td>
          <td>2018-03-02 12:55:16</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874734</td>
          <td>2018-03-02 12:50:23</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874733</td>
          <td>2018-03-02 12:45:08</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874732</td>
          <td>2018-03-02 12:40:13</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>8</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874731</td>
          <td>2018-03-02 12:35:07</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>20</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874730</td>
          <td>2018-03-02 12:30:20</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874729</td>
          <td>2018-03-02 12:25:06</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>7</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874728</td>
          <td>2018-03-02 12:20:20</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>9</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874727</td>
          <td>2018-03-02 12:15:11</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>12</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874726</td>
          <td>2018-03-02 12:10:15</td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874725</td>
          <td>2018-03-02 12:05:11</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874724</td>
          <td>2018-03-02 12:00:11</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874723</td>
          <td>2018-03-02 11:55:07</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>9</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874722</td>
          <td>2018-03-02 11:50:22</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>17</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874721</td>
          <td>2018-03-02 11:45:05</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>6</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874720</td>
          <td>2018-03-02 11:40:17</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>8</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874719</td>
          <td>2018-03-02 11:35:05</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874718</td>
          <td>2018-03-02 11:30:17</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874717</td>
          <td>2018-03-02 11:25:06</td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874716</td>
          <td>2018-03-02 11:20:28</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874715</td>
          <td>2018-03-02 11:15:09</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>10</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874714</td>
          <td>2018-03-02 11:10:17</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874713</td>
          <td>2018-03-02 11:05:16</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874712</td>
          <td>2018-03-02 11:00:16</td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874711</td>
          <td>2018-03-02 10:55:10</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874710</td>
          <td>2018-03-02 10:50:19</td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>11</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874709</td>
          <td>2018-03-02 10:45:05</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874708</td>
          <td>2018-03-02 10:40:09</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>9</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874707</td>
          <td>2018-03-02 10:35:13</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>5</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874706</td>
          <td>2018-03-02 10:30:15</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874705</td>
          <td>2018-03-02 10:25:12</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>19</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874704</td>
          <td>2018-03-02 10:20:07</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874703</td>
          <td>2018-03-02 10:15:12</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>21</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874702</td>
          <td>2018-03-02 10:10:18</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874701</td>
          <td>2018-03-02 10:05:12</td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>8</td>
          <td>小</td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874700</td>
          <td>2018-03-02 10:00:21</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>21</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874699</td>
          <td>2018-03-02 09:55:09</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874698</td>
          <td>2018-03-02 09:50:15</td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>16</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874697</td>
          <td>2018-03-02 09:45:09</td>
          <td>
            <span class="ball c-b1">2</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>14</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874696</td>
          <td>2018-03-02 09:40:14</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>9</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874695</td>
          <td>2018-03-02 09:35:06</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>18</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874694</td>
          <td>2018-03-02 09:30:20</td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">7</span>
          </td>
          <td>15</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
        <tr>
          <td>874693</td>
          <td>2018-03-02 09:25:11</td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">5</span>
          </td>
          <td>20</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>
            <span class="font_red">双</span>
          </td>
          <td>--</td>
          <td>
            <span class="font_blue">蓝波</span>
          </td>
        </tr>
        <tr>
          <td>874692</td>
          <td>2018-03-02 09:20:15</td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">9</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>19</td>
          <td>
            <span class="font_red">大</span>
          </td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_green">绿波</span>
          </td>
        </tr>
        <tr>
          <td>874691</td>
          <td>2018-03-02 09:15:12</td>
          <td>
            <span class="ball c-b1">3</span>
          </td>
          <td>
            <span class="ball c-b1">6</span>
          </td>
          <td>
            <span class="ball c-b1">4</span>
          </td>
          <td>13</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>874690</td>
          <td>2018-03-02 09:10:20</td>
          <td>
            <span class="ball c-b1">8</span>
          </td>
          <td>
            <span class="ball c-b1">1</span>
          </td>
          <td>
            <span class="ball c-b1">0</span>
          </td>
          <td>9</td>
          <td>小</td>
          <td>单</td>
          <td>--</td>
          <td>
            <span class="font_red">红波</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<script src="../../js/iframe.js"></script>
</html>