<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>凤凰彩票专业版</title>
  <link rel="stylesheet" href="../../css/iframe/sjAppXz/sjAppXz.css">
</head>

<body>
  <div class="xiazai_top">
    <div class="xiazai_top_xq">
      <div class="tubao_ming">
        <img src="../../images/xz/zyb.png">
        <span>A98专业版</span>
      </div>
      <div class="banben_m"> 版本号：2.2.1 </div>
      <div style="clear: both"> </div>
    </div>
  </div>

  <div class="xiazai_center">
    <div class="xiazai_center_nav">
      <div class="xiazai_shouji">
        <img src="../../images/xz/phone.png">
      </div>
      <div class="xiazai_xuanze">
        <h2>
          <img src="../../images/xz/xz_1.png">
        </h2>
        <div class="xiazai_xuanze_sj">
          <div class="xiazai_xuanze_sj_zuo"> </div>
          <div class="xiazai_xuanze_sj_you">
            <div class="btn-wrap">
              <div class="wrap">
                <a id="download_ios" class="btn-android" href="" target="_blank">
                  <i class="icon-clitw ictw-android"></i>
                  <span>
                    Android版下载</span>
                  <em>版本：2.2.1</em>
                </a>
              </div>
              <div class="wrap">
                <a id="download_ios" class="btn-android" href="" target="_blank">
                  <i class="icon-clitw ictw-ios"></i>
                  <span>
                    iPhone版下载</span>
                  <em>版本：2.2.1</em>
                </a>
              </div>
              <div class="bw-code">
                <em>
                  <img>手机客户端下载二维码</em>
                <p>
                </p>
              </div>
            </div>
          </div>
          <div style="clear: both"> </div>
        </div>
      </div>
      <div style="clear: both"> </div>
    </div>
  </div>

  <div class="xiazai_jieshao">
    <ul>
      <li>
        <img src="../../images/XZ/xz_a.png">
        <p>
          <span>智能识别</span>
          <br> 扫描一个二维码即可下载应用</p>
      </li>
      <li>
        <img src="../../images/XZ/xz_b.png">
        <p>
          <span>功能自选</span>
          <br> 多功能供用户进行选择和配置</p>
      </li>
      <li>
        <img src="../../images/XZ/xz_c.png">
        <p>
          <span>兼容多屏</span>
          <br> 应用可兼容各种型号的手机</p>
      </li>
      <li style="margin-right: 0px;">
        <img src="../../images/XZ/xz_d.png">
        <p>
          <span>开放式开发</span>
          <br> 更开放更快速更完美</p>
      </li>
      <div style="clear: both"> </div>
    </ul>
  </div>
  <div class="shuru_xian" style="margin-top: 92px; margin-bottom: 73px;"></div>
</body>

</html>