<html><head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Welcome</title>
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="../../../css/iframe/xglhc/xglhc_tmsb.css">
</head>
<body class="iframe-body skin_blue" style="display: block;">
<!--main-->
<div class="main clearfix">
	<div class="content">
		<div class="sub-wrap clearfix">
			<!--cont-main-->
			<div class="cont-main">
			
			  <div id="subpage"> 
   <div class="cont-col3"> 
			<div class="u-header play_tab_1 clearfix"><div class="fl"><span id="page_game_name">幸运六合彩</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span id="page_name">正码</span> <span id="total_sum_money_text">
					&nbsp;&nbsp;
					当前彩种输赢：<span id="total_sum_money">0.000</span></span></div> <div class="fr"><span id="next_turn_num">180308100</span>&nbsp;期 距离封盘：
<span id="bet-date">00:28</span> 距离开奖：
<span id="open-date">00:58</span></div></div>
    	<div class="cont-col3-hd clearfix"> 
     <!-- 
        <div class="cont-col3-box1">
         	   投注类型：
            <a href="#" class="cur">快捷</a>
            <a href="#">一般</a>
        </div>
     --> 
     <div class="cont-col3-box2"> 
<!--       <label> <input type="checkbox" class="u-cb1" /> 预设 </label>  -->
      	金额 
      <input id="bet_money1" type="text" class="bet-money"> 
      <a href="javascript:parent.UserBet.openBetWindow()" id="openBetWinBtn1" class="u-btn1">确定</a> 
      <a href="javascript:parent.UserBet.resetData()" class="u-btn1">重置</a> 
     </div> 
    </div>
    <ul class="tab hide">
    		<li class="tab_title02" id="tm_tabs">
		    	<a class="on" type="C" id="tm_a_tab"></a>
			</li>
	</ul>
    <div class="cont-col3-bd" id="bet_tab"> 
    	<div class="cont-col3-bd" id="bet_tab"> 
    		<table class="u-table2 play_tab_91 mt10"> 
		      <thead>
		       <tr> 
		        <th style="width: 4%;">号码</th> 
		        <th style="width: 6%">赔率</th> 
		        <th style="width: 8%">金额</th>
		         
		        <th style="width: 4%">号码</th> 
		        <th style="width: 6%">赔率</th> 
		        <th style="width: 8%">金额</th> 
		        
		        <th style="width: 4%">号码</th> 
		        <th style="width: 6%">赔率</th> 
		        <th style="width: 8%">金额</th> 
		        
		        <th style="width: 4%">号码</th> 
		        <th style="width: 6%">赔率</th> 
		        <th style="width: 8%">金额</th> 
		        
		        <th style="width: 4%">号码</th> 
		        <th style="width: 6%">赔率</th> 
		        <th style="width: 8%">金额</th> 
		       </tr> 
		      </thead> 
		      <tbody> 
		       <tr> 
		        <td id="play_name_7102115" class="name"><i class="lhc_icon lhc_b01">01</i></td> 
		        <td id="play_odds_7102115" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102115" name="play_7102115" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102125" class="name"><i class="lhc_icon lhc_b11">11</i></td> 
		        <td id="play_odds_7102125" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102125" name="play_7102125" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102135" class="name"><i class="lhc_icon lhc_b21">21</i></td> 
		        <td id="play_odds_7102135" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102135" name="play_7102135" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102145" class="name"><i class="lhc_icon lhc_b31">31</i></td> 
		        <td id="play_odds_7102145" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102145" name="play_7102145" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102155" class="name"><i class="lhc_icon lhc_b41">41</i></td> 
		        <td id="play_odds_7102155" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102155" name="play_7102155" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102116" class="name"><i class="lhc_icon lhc_b02">02</i></td> 
		        <td id="play_odds_7102116" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102116" name="play_7102116" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102126" class="name"><i class="lhc_icon lhc_b12">12</i></td> 
		        <td id="play_odds_7102126" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102126" name="play_7102126" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102136" class="name"><i class="lhc_icon lhc_b22">22</i></td> 
		        <td id="play_odds_7102136" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102136" name="play_7102136" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102146" class="name"><i class="lhc_icon lhc_b32">32</i></td> 
		        <td id="play_odds_7102146" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102146" name="play_7102146" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102156" class="name"><i class="lhc_icon lhc_b42">42</i></td> 
		        <td id="play_odds_7102156" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102156" name="play_7102156" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102117" class="name"><i class="lhc_icon lhc_b03">03</i></td> 
		        <td id="play_odds_7102117" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102117" name="play_7102117" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102127" class="name"><i class="lhc_icon lhc_b13">13</i></td> 
		        <td id="play_odds_7102127" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102127" name="play_7102127" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102137" class="name"><i class="lhc_icon lhc_b23">23</i></td> 
		        <td id="play_odds_7102137" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102137" name="play_7102137" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102147" class="name"><i class="lhc_icon lhc_b33">33</i></td> 
		        <td id="play_odds_7102147" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102147" name="play_7102147" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102157" class="name"><i class="lhc_icon lhc_b43">43</i></td> 
		        <td id="play_odds_7102157" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102157" name="play_7102157" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102118" class="name"><i class="lhc_icon lhc_b04">04</i></td> 
		        <td id="play_odds_7102118" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102118" name="play_7102118" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102128" class="name"><i class="lhc_icon lhc_b14">14</i></td> 
		        <td id="play_odds_7102128" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102128" name="play_7102128" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102138" class="name"><i class="lhc_icon lhc_b24">24</i></td> 
		        <td id="play_odds_7102138" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102138" name="play_7102138" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102148" class="name"><i class="lhc_icon lhc_b34">34</i></td> 
		        <td id="play_odds_7102148" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102148" name="play_7102148" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102158" class="name"><i class="lhc_icon lhc_b44">44</i></td> 
		        <td id="play_odds_7102158" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102158" name="play_7102158" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102119" class="name"><i class="lhc_icon lhc_b05">05</i></td> 
		        <td id="play_odds_7102119" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102119" name="play_7102119" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102129" class="name"><i class="lhc_icon lhc_b15">15</i></td> 
		        <td id="play_odds_7102129" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102129" name="play_7102129" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102139" class="name"><i class="lhc_icon lhc_b25">25</i></td> 
		        <td id="play_odds_7102139" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102139" name="play_7102139" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102149" class="name"><i class="lhc_icon lhc_b35">35</i></td> 
		        <td id="play_odds_7102149" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102149" name="play_7102149" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102159" class="name"><i class="lhc_icon lhc_b45">45</i></td> 
		        <td id="play_odds_7102159" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102159" name="play_7102159" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102120" class="name"><i class="lhc_icon lhc_b06">06</i></td> 
		        <td id="play_odds_7102120" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102120" name="play_7102120" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102130" class="name"><i class="lhc_icon lhc_b16">16</i></td> 
		        <td id="play_odds_7102130" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102130" name="play_7102130" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102140" class="name"><i class="lhc_icon lhc_b26">26</i></td> 
		        <td id="play_odds_7102140" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102140" name="play_7102140" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102150" class="name"><i class="lhc_icon lhc_b36">36</i></td> 
		        <td id="play_odds_7102150" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102150" name="play_7102150" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102160" class="name"><i class="lhc_icon lhc_b46">46</i></td> 
		        <td id="play_odds_7102160" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102160" name="play_7102160" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102121" class="name"><i class="lhc_icon lhc_b07">07</i></td> 
		        <td id="play_odds_7102121" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102121" name="play_7102121" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102131" class="name"><i class="lhc_icon lhc_b17">17</i></td> 
		        <td id="play_odds_7102131" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102131" name="play_7102131" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102141" class="name"><i class="lhc_icon lhc_b27">27</i></td> 
		        <td id="play_odds_7102141" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102141" name="play_7102141" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102151" class="name"><i class="lhc_icon lhc_b37">37</i></td> 
		        <td id="play_odds_7102151" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102151" name="play_7102151" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102161" class="name"><i class="lhc_icon lhc_b47">47</i></td> 
		        <td id="play_odds_7102161" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102161" name="play_7102161" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102122" class="name"><i class="lhc_icon lhc_b08">08</i></td> 
		        <td id="play_odds_7102122" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102122" name="play_7102122" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102132" class="name"><i class="lhc_icon lhc_b18">18</i></td> 
		        <td id="play_odds_7102132" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102132" name="play_7102132" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102142" class="name"><i class="lhc_icon lhc_b28">28</i></td> 
		        <td id="play_odds_7102142" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102142" name="play_7102142" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102152" class="name"><i class="lhc_icon lhc_b38">38</i></td> 
		        <td id="play_odds_7102152" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102152" name="play_7102152" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102162" class="name"><i class="lhc_icon lhc_b48">48</i></td> 
		        <td id="play_odds_7102162" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102162" name="play_7102162" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102123" class="name"><i class="lhc_icon lhc_b09">09</i></td> 
		        <td id="play_odds_7102123" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102123" name="play_7102123" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102133" class="name"><i class="lhc_icon lhc_b19">19</i></td> 
		        <td id="play_odds_7102133" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102133" name="play_7102133" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102143" class="name"><i class="lhc_icon lhc_b29">29</i></td> 
		        <td id="play_odds_7102143" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102143" name="play_7102143" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102153" class="name"><i class="lhc_icon lhc_b39">39</i></td> 
		        <td id="play_odds_7102153" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102153" name="play_7102153" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102163" class="name"><i class="lhc_icon lhc_b49">49</i></td> 
		        <td id="play_odds_7102163" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102163" name="play_7102163" class="amount"><input type="text"></td> 
		       </tr> 
		       <tr> 
		        <td id="play_name_7102124" class="name"><i class="lhc_icon lhc_b10">10</i></td> 
		        <td id="play_odds_7102124" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102124" name="play_7102124" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102134" class="name"><i class="lhc_icon lhc_b20">20</i></td> 
		        <td id="play_odds_7102134" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102134" name="play_7102134" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102144" class="name"><i class="lhc_icon lhc_b30">30</i></td> 
		        <td id="play_odds_7102144" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102144" name="play_7102144" class="amount"><input type="text"></td> 
		        
		        <td id="play_name_7102154" class="name"><i class="lhc_icon lhc_b40">40</i></td> 
		        <td id="play_odds_7102154" class="odds"><span class="c-txt3">8.1</span></td> 
		        <td id="play_text_7102154" name="play_7102154" class="amount"><input type="text"></td> 
		        
		        <td class="name not-event" colspan="3"></td> 
		       </tr> 
		      </tbody> 
		     </table>
		     
		     <table class="u-table2 play_tab_86 mt10"> 
			      <thead> 
			       <tr> 
			        <th style="width: 6%;">号码</th> 
			        <th style="width: 6%">赔率</th> 
			        <th style="width: 10%">金额</th>
			         
			        <th style="width: 6%">号码</th> 
			        <th style="width: 6%">赔率</th> 
			        <th style="width: 8%">金额</th> 
			        
			        <th style="width: 6%">号码</th> 
			        <th style="width: 6%">赔率</th> 
			        <th style="width: 8%">金额</th> 
			        
			        <th style="width: 6%">号码</th> 
			        <th style="width: 6%">赔率</th> 
			        <th style="width: 8%">金额</th>
			       </tr> 
			      </thead> 
			      <tbody> 
			       <tr> 
			        <td id="play_name_7102049" class="name">总大</td> 
			        <td id="play_odds_7102049" class="odds"><span class="c-txt3">1.98</span></td> 
			        <td id="play_text_7102049" name="play_7102049" class="amount"><input type="text"></td> 
			        
			        <td id="play_name_7102050" class="name">总小</td> 
			        <td id="play_odds_7102050" class="odds"><span class="c-txt3">1.98</span></td> 
			        <td id="play_text_7102050" name="play_7102050" class="amount"><input type="text"></td> 
			        
			        <td id="play_name_7102047" class="name">总单</td> 
			        <td id="play_odds_7102047" class="odds"><span class="c-txt3">1.98</span></td> 
			        <td id="play_text_7102047" name="play_7102047" class="amount"><input type="text"></td> 
			        
			        <td id="play_name_7102048" class="name">总双</td> 
			        <td id="play_odds_7102048" class="odds"><span class="c-txt3">1.98</span></td> 
			        <td id="play_text_7102048" name="play_7102048" class="amount"><input type="text"></td> 
			       </tr>
			      </tbody>
			 </table> 
    	</div>
    	<div class="cont-col3-hd clearfix" style="margin-top: 20px"> 
     <!-- 
        <div class="cont-col3-box1">
         	   投注类型：
            <a href="#" class="cur">快捷</a>
            <a href="#">一般</a>
        </div>
     --> 
     <div class="cont-col3-box2"> 
<!--       <label> <input type="checkbox" class="u-cb1" /> 预设 </label>  -->
      	金额 
      <input id="bet_money2" type="text" class="bet-money"> 
      <a href="javascript:parent.UserBet.openBetWindow()" id="openBetWinBtn2" class="u-btn1">确定</a> 
      <a href="javascript:parent.UserBet.resetData()" class="u-btn1">重置</a> 
     </div> 
    </div> 
    </div>
   </div>
</div>
					    

			</div>
			<!--/cont-main-->
			
			<div id="right_page" class="cont-sider">
	<div class="sider-box1 mt5" id="stat_play_ctn">
		<table class="u-table2">
			<thead> 
	         <tr> 
	          <th id="stat_play_list_desc">长龙排行榜</th> 
	         </tr> 
	        </thead> 
		</table>
		<table class="u-table5">
			<tbody id="stat_play_list"><tr><td colspan="2" style="text-align: center">暂无排行榜数据</td></tr></tbody>
		</table>
	</div>
</div>
		</div>
	</div>
	<!--/content-->
</div>
<!--/main-->
<script src="../../../js/iframe.js"></script>
</body>
</html>