<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/iframe/fc3d/fc3d_zsp.css">
</head>

<body class="iframe-body skin_blue" style="display:block">
  <div class="main clearfix">
    <div class="content">
      <div class="sub-wrap clearfix">
        <div class="cont-main">
          <div class="cont-col3">
            <div class="u-header play_tab_1 clearfix">
              <div class="fl">
                <span id="page_game_name">福彩3D</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span id="page_name">跨度</span>
                <span id="total_sum_money_text">
                  &nbsp;&nbsp; 当前彩种输赢：
                  <span id="total_sum_money">0.000</span>
                </span>
              </div>
              <div class="fr">
                <span id="next_turn_num">2018055</span>&nbsp;期 距离封盘：
                <span id="bet-date">06:00:07</span> 距离开奖：
                <span id="open-date">06:15:07</span>
              </div>
            </div>
            <div>
              <div class="cont-col3-hd clearfix">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input type="number" class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div>
                <div>
                  <div class="cont-col3-bd">
                    <table class="u-table2">
                      <thead>
                        <tr>
                          <th colspan="6">跨度</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-id="30191000" class="name">0</td>
                          <td data-id="30191000" class="odds">
                            <span class="c-txt3">71</span>
                          </td>
                          <td data-id="30191000" class="amount">
                            <input type="text">
                          </td>
                          <td data-id="30191001" class="name">1</td>
                          <td data-id="30191001" class="odds">
                            <span class="c-txt3">14</span>
                          </td>
                          <td data-id="30191001" class="amount">
                            <input type="text">
                          </td>
                        </tr>
                        <tr>
                          <td data-id="30191002" class="name">2</td>
                          <td data-id="30191002" class="odds">
                            <span class="c-txt3">7.9</span>
                          </td>
                          <td data-id="30191002" class="amount">
                            <input type="text">
                          </td>
                          <td data-id="30191003" class="name">3</td>
                          <td data-id="30191003" class="odds">
                            <span class="c-txt3">6</span>
                          </td>
                          <td data-id="30191003" class="amount">
                            <input type="text">
                          </td>
                        </tr>
                        <tr>
                          <td data-id="30191004" class="name">4</td>
                          <td data-id="30191004" class="odds">
                            <span class="c-txt3">5.3</span>
                          </td>
                          <td data-id="30191004" class="amount">
                            <input type="text">
                          </td>
                          <td data-id="30191005" class="name">5</td>
                          <td data-id="30191005" class="odds">
                            <span class="c-txt3">5.1</span>
                          </td>
                          <td data-id="30191005" class="amount">
                            <input type="text">
                          </td>
                        </tr>
                        <tr>
                          <td data-id="30191006" class="name">6</td>
                          <td data-id="30191006" class="odds">
                            <span class="c-txt3">5.3</span>
                          </td>
                          <td data-id="30191006" class="amount">
                            <input type="text">
                          </td>
                          <td data-id="30191007" class="name">7</td>
                          <td data-id="30191007" class="odds">
                            <span class="c-txt3">6</span>
                          </td>
                          <td data-id="30191007" class="amount">
                            <input type="text">
                          </td>
                        </tr>
                        <tr>
                          <td data-id="30191008" class="name">8</td>
                          <td data-id="30191008" class="odds">
                            <span class="c-txt3">7.9</span>
                          </td>
                          <td data-id="30191008" class="amount">
                            <input type="text">
                          </td>
                          <td data-id="30191009" class="name">9</td>
                          <td data-id="30191009" class="odds">
                            <span class="c-txt3">14</span>
                          </td>
                          <td data-id="30191009" class="amount">
                            <input type="text">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input type="number" class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div class="el-dialog__wrapper" style="display: none;">
                <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                  <div class="el-dialog__header">
                    <span class="el-dialog__title">下注明细 (请确认注单)</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                      <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-sider">
          <div class="sider-box1 mt5">
            <table class="u-table2">
              <thead>
                <tr>
                  <th id="stat_play_list_desc">长龙排行榜</th>
                </tr>
              </thead>
            </table>
            <table class="u-table5">
              <tbody id="stat_play_list">
                <tr class="u-tb5-tr1">
                  <th> 佰拾个和数 双</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰拾个和尾数 合</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰拾和尾数 大</th>
                  <td class="statFont">7期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰大小 小</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰单双 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰质合 质</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 拾个 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 拾个和尾数 大</th>
                  <td class="statFont">3期</td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../../js/fc3d.js"></script>

</html>