<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/iframe/fc3d/fc3d_zsp.css">
</head>
<body class="iframe-body skin_blue" style="display:block">
  <div class="main clearfix">
    <div class="content">
      <div class="sub-wrap clearfix">
        <div class="cont-main">
          <div class="cont-col3">
            <div class="u-header play_tab_1 clearfix">
              <div class="fl">
                <span id="page_game_name">福彩3D</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span id="page_name">一字定位</span>
                <span id="total_sum_money_text">
                  &nbsp;&nbsp; 当前彩种输赢：
                  <span id="total_sum_money">0.000</span>
                </span>
              </div>
              <div class="fr">
                <span id="next_turn_num">2018055</span>&nbsp;期 距离封盘：
                <span id="bet-date">06:14:06</span> 距离开奖：
                <span id="open-date">06:29:06</span>
              </div>
            </div>
            <div>
              <div class="cont-col3-hd clearfix">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div>
                <div>
                  <div class="cont-col3-bd">
                    <table class="cont-list1" style="margin-top: 0px;">
                      <tbody>
                        <tr>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <th colspan="3">佰</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30184000" class="name">0</td>
                                  <td data-id="30184000" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184000" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184001" class="name">1</td>
                                  <td data-id="30184001" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184001" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184002" class="name">2</td>
                                  <td data-id="30184002" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184002" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184003" class="name">3</td>
                                  <td data-id="30184003" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184003" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184004" class="name">4</td>
                                  <td data-id="30184004" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184004" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184005" class="name">5</td>
                                  <td data-id="30184005" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184005" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184006" class="name">6</td>
                                  <td data-id="30184006" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184006" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184007" class="name">7</td>
                                  <td data-id="30184007" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184007" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184008" class="name">8</td>
                                  <td data-id="30184008" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184008" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184009" class="name">9</td>
                                  <td data-id="30184009" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184009" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <th colspan="3">拾</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30184010" class="name">0</td>
                                  <td data-id="30184010" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184010" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184011" class="name">1</td>
                                  <td data-id="30184011" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184011" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184012" class="name">2</td>
                                  <td data-id="30184012" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184012" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184013" class="name">3</td>
                                  <td data-id="30184013" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184013" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184014" class="name">4</td>
                                  <td data-id="30184014" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184014" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184015" class="name">5</td>
                                  <td data-id="30184015" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184015" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184016" class="name">6</td>
                                  <td data-id="30184016" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184016" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184017" class="name">7</td>
                                  <td data-id="30184017" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184017" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184018" class="name">8</td>
                                  <td data-id="30184018" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184018" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184019" class="name">9</td>
                                  <td data-id="30184019" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184019" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <th colspan="3">个</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30184020" class="name">0</td>
                                  <td data-id="30184020" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184020" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184021" class="name">1</td>
                                  <td data-id="30184021" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184021" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184022" class="name">2</td>
                                  <td data-id="30184022" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184022" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184023" class="name">3</td>
                                  <td data-id="30184023" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184023" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184024" class="name">4</td>
                                  <td data-id="30184024" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184024" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184025" class="name">5</td>
                                  <td data-id="30184025" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184025" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184026" class="name">6</td>
                                  <td data-id="30184026" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184026" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184027" class="name">7</td>
                                  <td data-id="30184027" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184027" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184028" class="name">8</td>
                                  <td data-id="30184028" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184028" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30184029" class="name">9</td>
                                  <td data-id="30184029" class="odds">
                                    <span class="c-txt3">7.9</span>
                                  </td>
                                  <td data-id="30184029" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div class="el-dialog__wrapper" style="display: none;">
                <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                  <div class="el-dialog__header">
                    <span class="el-dialog__title">下注明细 (请确认注单)</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                      <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-sider">
          <div class="sider-box1 mt5">
            <table class="u-table2">
              <thead>
                <tr>
                  <th id="stat_play_list_desc">长龙排行榜</th>
                </tr>
              </thead>
            </table>
            <table class="u-table5">
              <tbody id="stat_play_list">
                <tr class="u-tb5-tr1">
                  <th> 佰拾个和数 双</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰拾个和尾数 合</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰拾和尾数 大</th>
                  <td class="statFont">7期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰大小 小</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰单双 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰质合 质</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 拾个 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 拾个和尾数 大</th>
                  <td class="statFont">3期</td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../../js/fc3d.js"></script>
</html>