<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/iframe/fc3d/fc3d_zsp.css">
</head>

<body class="iframe-body skin_blue" style="display:block">
  <div class="main clearfix">
    <div class="content">
      <div class="sub-wrap clearfix">
        <div class="cont-main">
          <div class="cont-col3">
            <div class="u-header play_tab_1 clearfix">
              <div class="fl">
                <span id="page_game_name">福彩3D</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span id="page_name">一字组合</span>
                <span id="total_sum_money_text">
                  &nbsp;&nbsp; 当前彩种输赢：
                  <span id="total_sum_money">0.000</span>
                </span>
              </div>
              <div class="fr">
                <span id="next_turn_num">2018055</span>&nbsp;期 距离封盘：
                <span id="bet-date">06:21:21</span> 距离开奖：
                <span id="open-date">06:36:21</span>
              </div>
            </div>
            <div>
              <div class="cont-col3-hd clearfix">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div>
                <div>
                  <div class="cont-col3-bd">
                    <table class="u-table2">
                      <thead>
                        <tr>
                          <th colspan="15">一字组合</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-id="30181000" class="name">
                            <div class="ball-container1">
                              <b>0</b>
                            </div>
                          </td>
                          <td data-id="30181000" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181000" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181001" class="name">
                            <div class="ball-container1">
                              <b>1</b>
                            </div>
                          </td>
                          <td data-id="30181001" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181001" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181002" class="name">
                            <div class="ball-container1">
                              <b>2</b>
                            </div>
                          </td>
                          <td data-id="30181002" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181002" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181003" class="name">
                            <div class="ball-container1">
                              <b>3</b>
                            </div>
                          </td>
                          <td data-id="30181003" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181003" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181004" class="name">
                            <div class="ball-container1">
                              <b>4</b>
                            </div>
                          </td>
                          <td data-id="30181004" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181004" class="amount">
                            <input type="text" style="">
                          </td>
                        </tr>
                        <tr>
                          <td data-id="30181005" class="name">
                            <div class="ball-container1">
                              <b>5</b>
                            </div>
                          </td>
                          <td data-id="30181005" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181005" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181006" class="name">
                            <div class="ball-container1">
                              <b>6</b>
                            </div>
                          </td>
                          <td data-id="30181006" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181006" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181007" class="name">
                            <div class="ball-container1">
                              <b>7</b>
                            </div>
                          </td>
                          <td data-id="30181007" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181007" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181008" class="name">
                            <div class="ball-container1">
                              <b>8</b>
                            </div>
                          </td>
                          <td data-id="30181008" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181008" class="amount">
                            <input type="text" style="">
                          </td>
                          <td data-id="30181009" class="name">
                            <div class="ball-container1">
                              <b>9</b>
                            </div>
                          </td>
                          <td data-id="30181009" class="odds">
                            <span class="c-txt3">3.02</span>
                          </td>
                          <td data-id="30181009" class="amount">
                            <input type="text" style="">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="cont-list1">
                      <tbody>
                        <tr>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <th colspan="3">佰</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30180001" class="name">大</td>
                                  <td data-id="30180001" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180001" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180002" class="name">小</td>
                                  <td data-id="30180002" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180002" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180003" class="name">单</td>
                                  <td data-id="30180003" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180003" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180004" class="name">双</td>
                                  <td data-id="30180004" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180004" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180005" class="name">质</td>
                                  <td data-id="30180005" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180005" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180006" class="name">合</td>
                                  <td data-id="30180006" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180006" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <th colspan="3">拾</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30180007" class="name">大</td>
                                  <td data-id="30180007" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180007" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180008" class="name">小</td>
                                  <td data-id="30180008" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180008" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180009" class="name">单</td>
                                  <td data-id="30180009" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180009" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180010" class="name">双</td>
                                  <td data-id="30180010" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180010" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180011" class="name">质</td>
                                  <td data-id="30180011" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180011" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180012" class="name">合</td>
                                  <td data-id="30180012" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180012" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <th colspan="3">个</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30180013" class="name">大</td>
                                  <td data-id="30180013" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180013" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180014" class="name">小</td>
                                  <td data-id="30180014" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180014" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180015" class="name">单</td>
                                  <td data-id="30180015" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180015" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180016" class="name">双</td>
                                  <td data-id="30180016" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180016" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180017" class="name">质</td>
                                  <td data-id="30180017" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180017" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30180018" class="name">合</td>
                                  <td data-id="30180018" class="odds">
                                    <span class="c-txt3">1.906</span>
                                  </td>
                                  <td data-id="30180018" class="amount">
                                    <input type="text" style="">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div class="el-dialog__wrapper" style="display: none;">
                <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                  <div class="el-dialog__header">
                    <span class="el-dialog__title">下注明细 (请确认注单)</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                      <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-sider">
          <div class="sider-box1 mt5">
            <table class="u-table2">
              <thead>
                <tr>
                  <th id="stat_play_list_desc">长龙排行榜</th>
                </tr>
              </thead>
            </table>
            <table class="u-table5">
              <tbody id="stat_play_list">
                <tr class="u-tb5-tr1">
                  <th> 佰拾个和数 双</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰拾个和尾数 合</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰拾和尾数 大</th>
                  <td class="statFont">7期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰大小 小</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰单双 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰质合 质</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 拾个 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 拾个和尾数 大</th>
                  <td class="statFont">3期</td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../../js/fc3d.js"></script>
</html>