<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/iframe/fc3d/fc3d_zsp.css">
</head>

<body class="iframe-body skin_blue" style="display:block">
  <div class="main clearfix">
    <div class="content">
      <div class="sub-wrap clearfix">
        <div class="cont-main">
          <div class="cont-col3">
            <div class="u-header play_tab_1 clearfix">
              <div class="fl">
                <span id="page_game_name">福彩3D</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span id="page_name">三字定位</span>
                <span id="total_sum_money_text">
                  &nbsp;&nbsp; 当前彩种输赢：
                  <span id="total_sum_money">0.000</span>
                </span>
              </div>
              <div class="fr">
                <span id="next_turn_num">2018055</span>&nbsp;期 距离封盘：
                <span id="bet-date">06:08:56</span> 距离开奖：
                <span id="open-date">06:23:56</span>
              </div>
            </div>
            <div>
              <div class="cont-col3-hd clearfix">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input type="number" class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div>
                <div>
                  <table class="u-table2 play_tab_88">
                    <thead>
                      <tr>
                        <th width="50%">种类</th>
                        <th>三字定位</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="not-event">赔率</td>
                        <td class="not-event">
                          <span class="c-txt3">740</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="u-table2 mt10">
                    <thead>
                      <th colspan="12">佰位</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-num="0" data-row-idx="0" class="name">
                          <span class="ball c-b1">0</span>
                        </td>
                        <td data-num="0" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="1" data-row-idx="0" class="name">
                          <span class="ball c-b1">1</span>
                        </td>
                        <td data-num="1" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="2" data-row-idx="0" class="name">
                          <span class="ball c-b1">2</span>
                        </td>
                        <td data-num="2" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="3" data-row-idx="0" class="name">
                          <span class="ball c-b1">3</span>
                        </td>
                        <td data-num="3" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="4" data-row-idx="0" class="name">
                          <span class="ball c-b1">4</span>
                        </td>
                        <td data-num="4" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td data-num="5" data-row-idx="0" class="name">
                          <span class="ball c-b1">5</span>
                        </td>
                        <td data-num="5" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="6" data-row-idx="0" class="name">
                          <span class="ball c-b1">6</span>
                        </td>
                        <td data-num="6" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="7" data-row-idx="0" class="name">
                          <span class="ball c-b1">7</span>
                        </td>
                        <td data-num="7" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="8" data-row-idx="0" class="name">
                          <span class="ball c-b1">8</span>
                        </td>
                        <td data-num="8" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="9" data-row-idx="0" class="name">
                          <span class="ball c-b1">9</span>
                        </td>
                        <td data-num="9" data-row-idx="0" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="u-table2 mt5">
                    <thead>
                      <th colspan="12">拾位</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-num="0" data-row-idx="1" class="name">
                          <span class="ball c-b1">0</span>
                        </td>
                        <td data-num="0" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="1" data-row-idx="1" class="name">
                          <span class="ball c-b1">1</span>
                        </td>
                        <td data-num="1" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="2" data-row-idx="1" class="name">
                          <span class="ball c-b1">2</span>
                        </td>
                        <td data-num="2" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="3" data-row-idx="1" class="name">
                          <span class="ball c-b1">3</span>
                        </td>
                        <td data-num="3" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="4" data-row-idx="1" class="name">
                          <span class="ball c-b1">4</span>
                        </td>
                        <td data-num="4" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td data-num="5" data-row-idx="1" class="name">
                          <span class="ball c-b1">5</span>
                        </td>
                        <td data-num="5" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="6" data-row-idx="1" class="name">
                          <span class="ball c-b1">6</span>
                        </td>
                        <td data-num="6" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="7" data-row-idx="1" class="name">
                          <span class="ball c-b1">7</span>
                        </td>
                        <td data-num="7" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="8" data-row-idx="1" class="name">
                          <span class="ball c-b1">8</span>
                        </td>
                        <td data-num="8" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="9" data-row-idx="1" class="name">
                          <span class="ball c-b1">9</span>
                        </td>
                        <td data-num="9" data-row-idx="1" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="u-table2 mt5">
                    <thead>
                      <th colspan="12">个位</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-num="0" data-row-idx="2" class="name">
                          <span class="ball c-b1">0</span>
                        </td>
                        <td data-num="0" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="1" data-row-idx="2" class="name">
                          <span class="ball c-b1">1</span>
                        </td>
                        <td data-num="1" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="2" data-row-idx="2" class="name">
                          <span class="ball c-b1">2</span>
                        </td>
                        <td data-num="2" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="3" data-row-idx="2" class="name">
                          <span class="ball c-b1">3</span>
                        </td>
                        <td data-num="3" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="4" data-row-idx="2" class="name">
                          <span class="ball c-b1">4</span>
                        </td>
                        <td data-num="4" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td data-num="5" data-row-idx="2" class="name">
                          <span class="ball c-b1">5</span>
                        </td>
                        <td data-num="5" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="6" data-row-idx="2" class="name">
                          <span class="ball c-b1">6</span>
                        </td>
                        <td data-num="6" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="7" data-row-idx="2" class="name">
                          <span class="ball c-b1">7</span>
                        </td>
                        <td data-num="7" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="8" data-row-idx="2" class="name">
                          <span class="ball c-b1">8</span>
                        </td>
                        <td data-num="8" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                        <td data-num="9" data-row-idx="2" class="name">
                          <span class="ball c-b1">9</span>
                        </td>
                        <td data-num="9" data-row-idx="2" class="checkbox_td">
                          <input type="checkbox">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input type="number" class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div class="el-dialog__wrapper" style="display: none;">
                <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                  <div class="el-dialog__header">
                    <span class="el-dialog__title">下注明细 (请确认注单)</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                      <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-sider">
          <div class="sider-box1 mt5">
            <table class="u-table2">
              <thead>
                <tr>
                  <th id="stat_play_list_desc">长龙排行榜</th>
                </tr>
              </thead>
            </table>
            <table class="u-table5">
              <tbody id="stat_play_list">
                <tr class="u-tb5-tr1">
                  <th> 佰拾个和数 双</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰拾个和尾数 合</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰拾和尾数 大</th>
                  <td class="statFont">7期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰大小 小</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰单双 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰质合 质</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 拾个 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 拾个和尾数 大</th>
                  <td class="statFont">3期</td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../../js/fc3d.js"></script>
</html>