<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/iframe/fc3d/fc3d_zsp.css">
</head>

<body class="iframe-body skin_blue" style="display:block">
  <div class="main clearfix">
    <div class="content">
      <div class="sub-wrap clearfix">
        <div class="cont-main">
          <div class="cont-col3">
            <div class="u-header play_tab_1 clearfix">
              <div class="fl">
                <span id="page_game_name">福彩3D</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span id="page_name">二字合数</span>
                <span id="total_sum_money_text">
                  &nbsp;&nbsp; 当前彩种输赢：
                  <span id="total_sum_money">0.000</span>
                </span>
              </div>
              <div class="fr">
                <span id="next_turn_num">2018055</span>&nbsp;期 距离封盘：
                <span id="bet-date">06:02:51</span> 距离开奖：
                <span id="open-date">06:17:51</span>
              </div>
            </div>
            <div>
              <div class="cont-col3-hd clearfix">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input type="number" class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div>
                <div>
                  <div class="cont-col3-bd">
                    <ul class="tab" style="height: 35px;">
                      <li id="tm_tabs" class="tab_title02">
                        <a href="javascript:void(0)" class="on">佰拾</a>
                        <a href="javascript:void(0)" class="">佰个</a>
                        <a href="javascript:void(0)" class="">拾个</a>
                      </li>
                    </ul>
                    <div>
                      <table class="u-table2">
                        <thead>
                          <tr>
                            <th colspan="15">佰拾合数</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td data-id="30187000" class="name">0~6</td>
                            <td data-id="30187000" class="odds">
                              <span class="c-txt3">5</span>
                            </td>
                            <td data-id="30187000" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187005" class="name">5</td>
                            <td data-id="30187005" class="odds">
                              <span class="c-txt3">12.8</span>
                            </td>
                            <td data-id="30187005" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187006" class="name">6</td>
                            <td data-id="30187006" class="odds">
                              <span class="c-txt3">11</span>
                            </td>
                            <td data-id="30187006" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187007" class="name">7</td>
                            <td data-id="30187007" class="odds">
                              <span class="c-txt3">9.9</span>
                            </td>
                            <td data-id="30187007" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187008" class="name">8</td>
                            <td data-id="30187008" class="odds">
                              <span class="c-txt3">8.6</span>
                            </td>
                            <td data-id="30187008" class="amount">
                              <input type="text">
                            </td>
                          </tr>
                          <tr>
                            <td data-id="30187009" class="name">9</td>
                            <td data-id="30187009" class="odds">
                              <span class="c-txt3">7.7</span>
                            </td>
                            <td data-id="30187009" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187010" class="name">10</td>
                            <td data-id="30187010" class="odds">
                              <span class="c-txt3">8.6</span>
                            </td>
                            <td data-id="30187010" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187011" class="name">11</td>
                            <td data-id="30187011" class="odds">
                              <span class="c-txt3">9.9</span>
                            </td>
                            <td data-id="30187011" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187012" class="name">12</td>
                            <td data-id="30187012" class="odds">
                              <span class="c-txt3">11</span>
                            </td>
                            <td data-id="30187012" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187013" class="name">13</td>
                            <td data-id="30187013" class="odds">
                              <span class="c-txt3">12.8</span>
                            </td>
                            <td data-id="30187013" class="amount">
                              <input type="text">
                            </td>
                          </tr>
                          <tr>
                            <td data-id="30187014" class="name">14～18</td>
                            <td data-id="30187014" class="odds">
                              <span class="c-txt3">5</span>
                            </td>
                            <td data-id="30187014" class="amount">
                              <input type="text">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="u-table2 mt10">
                        <thead>
                          <tr>
                            <th colspan="15">佰拾和数尾数</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td data-id="30187020" class="name">0</td>
                            <td data-id="30187020" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187020" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187021" class="name">1</td>
                            <td data-id="30187021" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187021" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187022" class="name">2</td>
                            <td data-id="30187022" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187022" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187023" class="name">3</td>
                            <td data-id="30187023" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187023" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187024" class="name">4</td>
                            <td data-id="30187024" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187024" class="amount">
                              <input type="text">
                            </td>
                          </tr>
                          <tr>
                            <td data-id="30187025" class="name">5</td>
                            <td data-id="30187025" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187025" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187026" class="name">6</td>
                            <td data-id="30187026" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187026" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187027" class="name">7</td>
                            <td data-id="30187027" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187027" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187028" class="name">8</td>
                            <td data-id="30187028" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187028" class="amount">
                              <input type="text">
                            </td>
                            <td data-id="30187029" class="name">9</td>
                            <td data-id="30187029" class="odds">
                              <span class="c-txt3">7.5</span>
                            </td>
                            <td data-id="30187029" class="amount">
                              <input type="text">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input type="number" class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div class="el-dialog__wrapper" style="display: none;">
                <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                  <div class="el-dialog__header">
                    <span class="el-dialog__title">下注明细 (请确认注单)</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                      <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-sider">
          <div class="sider-box1 mt5">
            <table class="u-table2">
              <thead>
                <tr>
                  <th id="stat_play_list_desc">长龙排行榜</th>
                </tr>
              </thead>
            </table>
            <table class="u-table5">
              <tbody id="stat_play_list">
                <tr class="u-tb5-tr1">
                  <th> 佰拾个和数 双</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰拾个和尾数 合</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰拾和尾数 大</th>
                  <td class="statFont">7期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰大小 小</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰单双 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰质合 质</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 拾个 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 拾个和尾数 大</th>
                  <td class="statFont">3期</td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../../js/fc3d.js"></script>

</html>