<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/iframe/fc3d/fc3d_zsp.css">
</head>

<body class="iframe-body skin_blue" style="display:block">
  <div class="main clearfix">
    <div class="content">
      <div class="sub-wrap clearfix">
        <div class="cont-main">
          <div class="cont-col3">
            <div class="u-header play_tab_1 clearfix">
              <div class="fl">
                <span id="page_game_name">福彩3D</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span id="page_name">二字组合</span>
                <span id="total_sum_money_text">
                  &nbsp;&nbsp; 当前彩种输赢：
                  <span id="total_sum_money">0.000</span>
                </span>
              </div>
              <div class="fr">
                <span id="next_turn_num">2018055</span>&nbsp;期 距离封盘：
                <span id="bet-date">06:16:08</span> 距离开奖：
                <span id="open-date">06:31:08</span>
              </div>
            </div>
            <div>
              <div class="cont-col3-hd clearfix">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div>
                <div>
                  <div class="cont-col3-bd">
                    <table class="cont-list1" style="margin-top: 0px;">
                      <tbody>
                        <tr>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <td>种类</td>
                                  <td>赔率</td>
                                  <td>金额</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30182000" class="name">00</td>
                                  <td data-id="30182000" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182000" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182001" class="name">01</td>
                                  <td data-id="30182001" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182001" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182002" class="name">02</td>
                                  <td data-id="30182002" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182002" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182003" class="name">03</td>
                                  <td data-id="30182003" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182003" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182004" class="name">04</td>
                                  <td data-id="30182004" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182004" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182005" class="name">05</td>
                                  <td data-id="30182005" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182005" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182006" class="name">06</td>
                                  <td data-id="30182006" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182006" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182007" class="name">07</td>
                                  <td data-id="30182007" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182007" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182008" class="name">08</td>
                                  <td data-id="30182008" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182008" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182009" class="name">09</td>
                                  <td data-id="30182009" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182009" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182011" class="name">11</td>
                                  <td data-id="30182011" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182011" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <td>种类</td>
                                  <td>赔率</td>
                                  <td>金额</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30182012" class="name">12</td>
                                  <td data-id="30182012" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182012" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182013" class="name">13</td>
                                  <td data-id="30182013" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182013" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182014" class="name">14</td>
                                  <td data-id="30182014" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182014" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182015" class="name">15</td>
                                  <td data-id="30182015" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182015" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182016" class="name">16</td>
                                  <td data-id="30182016" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182016" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182017" class="name">17</td>
                                  <td data-id="30182017" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182017" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182018" class="name">18</td>
                                  <td data-id="30182018" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182018" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182019" class="name">19</td>
                                  <td data-id="30182019" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182019" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182022" class="name">22</td>
                                  <td data-id="30182022" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182022" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182023" class="name">23</td>
                                  <td data-id="30182023" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182023" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182024" class="name">24</td>
                                  <td data-id="30182024" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182024" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <td>种类</td>
                                  <td>赔率</td>
                                  <td>金额</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30182025" class="name">25</td>
                                  <td data-id="30182025" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182025" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182026" class="name">26</td>
                                  <td data-id="30182026" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182026" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182027" class="name">27</td>
                                  <td data-id="30182027" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182027" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182028" class="name">28</td>
                                  <td data-id="30182028" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182028" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182029" class="name">29</td>
                                  <td data-id="30182029" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182029" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182033" class="name">33</td>
                                  <td data-id="30182033" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182033" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182034" class="name">34</td>
                                  <td data-id="30182034" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182034" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182035" class="name">35</td>
                                  <td data-id="30182035" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182035" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182036" class="name">36</td>
                                  <td data-id="30182036" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182036" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182037" class="name">37</td>
                                  <td data-id="30182037" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182037" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182038" class="name">38</td>
                                  <td data-id="30182038" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182038" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <td>种类</td>
                                  <td>赔率</td>
                                  <td>金额</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30182039" class="name">39</td>
                                  <td data-id="30182039" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182039" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182044" class="name">44</td>
                                  <td data-id="30182044" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182044" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182045" class="name">45</td>
                                  <td data-id="30182045" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182045" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182046" class="name">46</td>
                                  <td data-id="30182046" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182046" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182047" class="name">47</td>
                                  <td data-id="30182047" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182047" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182048" class="name">48</td>
                                  <td data-id="30182048" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182048" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182049" class="name">49</td>
                                  <td data-id="30182049" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182049" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182055" class="name">55</td>
                                  <td data-id="30182055" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182055" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182056" class="name">56</td>
                                  <td data-id="30182056" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182056" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182057" class="name">57</td>
                                  <td data-id="30182057" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182057" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182058" class="name">58</td>
                                  <td data-id="30182058" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182058" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="u-table2">
                              <thead>
                                <tr>
                                  <td>种类</td>
                                  <td>赔率</td>
                                  <td>金额</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-id="30182059" class="name">59</td>
                                  <td data-id="30182059" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182059" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182066" class="name">66</td>
                                  <td data-id="30182066" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182066" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182067" class="name">67</td>
                                  <td data-id="30182067" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182067" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182068" class="name">68</td>
                                  <td data-id="30182068" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182068" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182069" class="name">69</td>
                                  <td data-id="30182069" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182069" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182077" class="name">77</td>
                                  <td data-id="30182077" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182077" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182078" class="name">78</td>
                                  <td data-id="30182078" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182078" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182079" class="name">79</td>
                                  <td data-id="30182079" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182079" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182088" class="name">88</td>
                                  <td data-id="30182088" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182088" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182089" class="name">89</td>
                                  <td data-id="30182089" class="odds">
                                    <span class="c-txt3">14.5</span>
                                  </td>
                                  <td data-id="30182089" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                                <tr>
                                  <td data-id="30182099" class="name">99</td>
                                  <td data-id="30182099" class="odds">
                                    <span class="c-txt3">28</span>
                                  </td>
                                  <td data-id="30182099" class="amount">
                                    <input type="text">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
                <div class="cont-col3-box2">
                  <span>金额 </span>
                  <input class="bet-money">
                  <a href="javascript:void(0)" class="u-btn1">确定</a>
                  <a href="javascript:void(0)" class="u-btn1">重置</a>
                </div>
              </div>
              <div class="el-dialog__wrapper" style="display: none;">
                <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                  <div class="el-dialog__header">
                    <span class="el-dialog__title">下注明细 (请确认注单)</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                      <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-sider">
          <div class="sider-box1 mt5">
            <table class="u-table2">
              <thead>
                <tr>
                  <th id="stat_play_list_desc">长龙排行榜</th>
                </tr>
              </thead>
            </table>
            <table class="u-table5">
              <tbody id="stat_play_list">
                <tr class="u-tb5-tr1">
                  <th> 佰拾个和数 双</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰拾个和尾数 合</th>
                  <td class="statFont">9期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰拾和尾数 大</th>
                  <td class="statFont">7期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰大小 小</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 佰单双 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 佰质合 质</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr1">
                  <th> 拾个 单</th>
                  <td class="statFont">3期</td>
                </tr>
                <tr class="u-tb5-tr2">
                  <th> 拾个和尾数 大</th>
                  <td class="statFont">3期</td>
                </tr>
                <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../../js/fc3d.js"></script>
</html>