<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Welcome</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../../../css/iframe/bkpk10/bjpk10_lmp.css">
</head>

<body class="iframe-body skin_blue" style="display: block;">
  <!--main-->
  <div class="main clearfix">
    <div class="sub-wrap clearfix">
      <div class="cont-main">
        <div class="cont-col3">
          <div class="u-header play_tab_1 clearfix">
            <div class="fl">
              <span id="page_game_name">幸运快乐8</span>&nbsp;&nbsp;-&nbsp;&nbsp;
              <span id="page_name">两面盘</span>
              <span id="total_sum_money_text">
                &nbsp;&nbsp; 当前彩种输赢：
                <span id="total_sum_money">0.000</span>
              </span>
            </div>
            <div class="fr">
              <span id="next_turn_num">180308106</span>&nbsp;期 距离封盘：
              <span id="bet-date">00:57</span> 距离开奖：
              <span id="open-date">01:27</span>
            </div>
          </div>
          <div>
            <div class="cont-col3-hd clearfix">
              <div class="cont-col3-box2">
                <span>金额 </span>
                <input type="number" class="bet-money">
                <a href="javascript:void(0)" class="u-btn1">确定</a>
                <a href="javascript:void(0)" class="u-btn1">重置</a>
              </div>
            </div>
            <div>
              <div>
                <table class="cont-list1">
                  <tbody>
                    <tr>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第一球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319601" class="name">大</td>
                              <td data-id="8319601" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319601" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319602" class="name">小</td>
                              <td data-id="8319602" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319602" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319603" class="name">单</td>
                              <td data-id="8319603" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319603" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319604" class="name">双</td>
                              <td data-id="8319604" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319604" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第二球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319605" class="name">大</td>
                              <td data-id="8319605" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319605" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319606" class="name">小</td>
                              <td data-id="8319606" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319606" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319607" class="name">单</td>
                              <td data-id="8319607" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319607" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319608" class="name">双</td>
                              <td data-id="8319608" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319608" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第三球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319609" class="name">大</td>
                              <td data-id="8319609" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319609" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319610" class="name">小</td>
                              <td data-id="8319610" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319610" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319611" class="name">单</td>
                              <td data-id="8319611" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319611" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319612" class="name">双</td>
                              <td data-id="8319612" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319612" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第四球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319613" class="name">大</td>
                              <td data-id="8319613" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319613" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319614" class="name">小</td>
                              <td data-id="8319614" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319614" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319615" class="name">单</td>
                              <td data-id="8319615" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319615" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319616" class="name">双</td>
                              <td data-id="8319616" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319616" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第五球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319617" class="name">大</td>
                              <td data-id="8319617" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319617" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319618" class="name">小</td>
                              <td data-id="8319618" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319618" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319619" class="name">单</td>
                              <td data-id="8319619" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319619" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319620" class="name">双</td>
                              <td data-id="8319620" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319620" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="cont-list1">
                  <tbody>
                    <tr>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第六球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319621" class="name">大</td>
                              <td data-id="8319621" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319621" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319622" class="name">小</td>
                              <td data-id="8319622" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319622" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319623" class="name">单</td>
                              <td data-id="8319623" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319623" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319624" class="name">双</td>
                              <td data-id="8319624" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319624" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第七球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319625" class="name">大</td>
                              <td data-id="8319625" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319625" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319626" class="name">小</td>
                              <td data-id="8319626" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319626" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319627" class="name">单</td>
                              <td data-id="8319627" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319627" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319628" class="name">双</td>
                              <td data-id="8319628" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319628" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第八球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319629" class="name">大</td>
                              <td data-id="8319629" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319629" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319630" class="name">小</td>
                              <td data-id="8319630" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319630" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319631" class="name">单</td>
                              <td data-id="8319631" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319631" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319632" class="name">双</td>
                              <td data-id="8319632" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319632" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第九球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319633" class="name">大</td>
                              <td data-id="8319633" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319633" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319634" class="name">小</td>
                              <td data-id="8319634" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319634" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319635" class="name">单</td>
                              <td data-id="8319635" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319635" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319636" class="name">双</td>
                              <td data-id="8319636" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319636" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319637" class="name">大</td>
                              <td data-id="8319637" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319637" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319638" class="name">小</td>
                              <td data-id="8319638" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319638" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319639" class="name">单</td>
                              <td data-id="8319639" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319639" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319640" class="name">双</td>
                              <td data-id="8319640" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319640" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="cont-list1">
                  <tbody>
                    <tr>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十一球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319641" class="name">大</td>
                              <td data-id="8319641" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319641" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319642" class="name">小</td>
                              <td data-id="8319642" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319642" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319643" class="name">单</td>
                              <td data-id="8319643" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319643" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319644" class="name">双</td>
                              <td data-id="8319644" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319644" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十二球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319645" class="name">大</td>
                              <td data-id="8319645" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319645" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319646" class="name">小</td>
                              <td data-id="8319646" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319646" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319647" class="name">单</td>
                              <td data-id="8319647" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319647" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319648" class="name">双</td>
                              <td data-id="8319648" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319648" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十三球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319649" class="name">大</td>
                              <td data-id="8319649" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319649" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319650" class="name">小</td>
                              <td data-id="8319650" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319650" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319651" class="name">单</td>
                              <td data-id="8319651" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319651" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319652" class="name">双</td>
                              <td data-id="8319652" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319652" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十四球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319653" class="name">大</td>
                              <td data-id="8319653" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319653" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319654" class="name">小</td>
                              <td data-id="8319654" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319654" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319655" class="name">单</td>
                              <td data-id="8319655" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319655" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319656" class="name">双</td>
                              <td data-id="8319656" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319656" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十五球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319657" class="name">大</td>
                              <td data-id="8319657" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319657" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319658" class="name">小</td>
                              <td data-id="8319658" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319658" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319659" class="name">单</td>
                              <td data-id="8319659" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319659" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319660" class="name">双</td>
                              <td data-id="8319660" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319660" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="cont-list1">
                  <tbody>
                    <tr>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十六球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319661" class="name">大</td>
                              <td data-id="8319661" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319661" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319662" class="name">小</td>
                              <td data-id="8319662" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319662" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319663" class="name">单</td>
                              <td data-id="8319663" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319663" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319664" class="name">双</td>
                              <td data-id="8319664" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319664" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十七球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319665" class="name">大</td>
                              <td data-id="8319665" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319665" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319666" class="name">小</td>
                              <td data-id="8319666" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319666" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319667" class="name">单</td>
                              <td data-id="8319667" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319667" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319668" class="name">双</td>
                              <td data-id="8319668" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319668" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十八球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319669" class="name">大</td>
                              <td data-id="8319669" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319669" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319670" class="name">小</td>
                              <td data-id="8319670" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319670" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319671" class="name">单</td>
                              <td data-id="8319671" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319671" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319672" class="name">双</td>
                              <td data-id="8319672" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319672" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第十九球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319673" class="name">大</td>
                              <td data-id="8319673" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319673" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319674" class="name">小</td>
                              <td data-id="8319674" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319674" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319675" class="name">单</td>
                              <td data-id="8319675" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319675" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319676" class="name">双</td>
                              <td data-id="8319676" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319676" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="u-table2">
                          <thead>
                            <tr>
                              <th colspan="3">第二十球</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-id="8319677" class="name">大</td>
                              <td data-id="8319677" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319677" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319678" class="name">小</td>
                              <td data-id="8319678" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319678" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319679" class="name">单</td>
                              <td data-id="8319679" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319679" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                            <tr>
                              <td data-id="8319680" class="name">双</td>
                              <td data-id="8319680" class="odds">
                                <span class="c-txt3">1.995</span>
                              </td>
                              <td data-id="8319680" class="amount">
                                <input type="text" style="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="cont-col3-hd clearfix" style="margin-top: 15px;">
              <div class="cont-col3-box2">
                <span>金额 </span>
                <input type="number" class="bet-money">
                <a href="javascript:void(0)" class="u-btn1">确定</a>
                <a href="javascript:void(0)" class="u-btn1">重置</a>
              </div>
            </div>
            <div class="el-dialog__wrapper" style="display: none;">
              <div class="el-dialog el-dialog--small bet-modal" style="top: 15%;">
                <div class="el-dialog__header">
                  <span class="el-dialog__title">下注明细 (请确认注单)</span>
                  <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                    <i class="el-dialog__close el-icon el-icon-close"></i>
                  </button>
                </div>
                <!---->
                <!---->
              </div>
            </div>
          </div>
        </div>
        <div class="count-wrap">
          <table id="stat_qiu" class="u-table2">
            <thead>
              <tr>
                <th class="u-tb3-th2 select">总和数</th>
                <th class="u-tb3-th2">总和大小</th>
                <th class="u-tb3-th2">总和单双</th>
                <th class="u-tb3-th2">五行</th>
              </tr>
            </thead>
          </table>
          <div>
            <table class="u-table4 table-td-valign-top">
              <tbody>
                <tr class="stattd" v-html="stat_html">
                  <td>744</td>
                  <td>831</td>
                  <td>797</td>
                  <td>760</td>
                  <td>778</td>
                  <td>983</td>
                  <td>856</td>
                  <td>849</td>
                  <td>782</td>
                  <td>907</td>
                  <td>852</td>
                  <td>652</td>
                  <td>643</td>
                  <td>837</td>
                  <td>823</td>
                  <td>886</td>
                  <td>935</td>
                  <td>804</td>
                  <td>821</td>
                  <td>655</td>
                  <td>864</td>
                  <td>793</td>
                  <td>718</td>
                  <td>654</td>
                  <td>776</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="cont-sider">
        <div class="sider-box1 mt5">
          <table class="u-table2">
            <thead>
              <tr>
                <th id="stat_play_list_desc">长龙排行榜</th>
              </tr>
            </thead>
          </table>
          <table class="u-table5">
            <tbody id="stat_play_list">
              <tr class="u-tb5-tr1">
                <th> 第2球-单</th>
                <td class="statFont">7期</td>
              </tr>
              <tr class="u-tb5-tr2">
                <th> 第17球-小</th>
                <td class="statFont">6期</td>
              </tr>
              <tr class="u-tb5-tr1">
                <th> 第3球-单</th>
                <td class="statFont">5期</td>
              </tr>
              <tr class="u-tb5-tr2">
                <th> 第7球-小</th>
                <td class="statFont">5期</td>
              </tr>
              <tr class="u-tb5-tr1">
                <th> 第14球-双</th>
                <td class="statFont">5期</td>
              </tr>
              <tr class="u-tb5-tr2">
                <th> 总和小</th>
                <td class="statFont">4期</td>
              </tr>
              <tr class="u-tb5-tr1">
                <th> 第4球-双</th>
                <td class="statFont">4期</td>
              </tr>
              <tr class="u-tb5-tr2">
                <th> 第10球-单</th>
                <td class="statFont">4期</td>
              </tr>
              <tr class="u-tb5-tr1">
                <th> 第18球-小</th>
                <td class="statFont">4期</td>
              </tr>
              <tr class="u-tb5-tr2">
                <th> 总和双</th>
                <td class="statFont">3期</td>
              </tr>
              <tr class="u-tb5-tr1">
                <th> 总小双</th>
                <td class="statFont">3期</td>
              </tr>
              <tr class="u-tb5-tr2">
                <th> 第13球-大</th>
                <td class="statFont">3期</td>
              </tr>
              <tr class="u-tb5-tr1">
                <th> 第14球-小</th>
                <td class="statFont">3期</td>
              </tr>
              <!---->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/content-->
  </div>
  <!--/main-->
  <script src="../../../js/iframe.js"></script>
</body>

</html>